*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}
a{
    color: black;
}
.header__primeroPromoCelu2{
    display: none;
    visibility: visible;
}
/*HEADER*/
header{
    background-color: yellow;
    padding: 0 30px;
    padding-bottom: 15px;

}
/*HEADER Primero*/
.header__primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 15px;
}
.header__primero div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}
.header__primero div p{
    margin-left: 10px;
}
.header__primero div img{
    width: 7%;
    margin-right: 10px;
}

.header__primeroPromo1{
    animation-duration: 7s;
    animation-name: promo1;
    animation-iteration-count: infinite;
}
/*ANIMACION promo1*/
@keyframes promo1 {    
    0%{
        z-index: 1;
    }
    40%{
        z-index: 1;
    }
    100%{
        z-index: -1;
    }

}

/*ANIMACION BANNER2*/
.header__primeroPromo2{
    position: absolute;
    animation-duration: 7s;
    animation-name: promo2;
    animation-iteration-count: infinite;
    z-index: -1;
}
@keyframes promo2 {    
    0%{
        z-index: -1;
    }
    60%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }

}

/*HEADER Segundo*/
.header__segundo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.header__segundoIzquierda{
    width: 20%;
    border: solid;
    border-color: black;
}

.header__segundoIzquierda a img{
    width: 100%;
    height: 90px;
}
.header__segundoCentro{
    width: 55%;
    display: flex;
    align-content: flex-start;
    margin-right: 50px;
}
nav{
    width: 100%;
    border: solid;
    border-color: black;
    background-color: black;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around

}
nav ul li{
    padding: 7px 0px;
}

nav ul li a{
    font-size: 25px;
    padding: 7px 10px;
    color: white;
    font-family: 'Bangers', cursive;
}



/*Animacion*/

nav ul li:hover a{
    background-color: white;
    color: black;
}

.header__segundoDerecha{
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.header__segundoIcons{
    height: 40px;
    padding: 7px 10px;
}

.header__segundoIcons:hover{
    filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
}

/*MAIN*/

/*MAIN primero*/
.main__primero{
    background-color: rgb(223, 223, 223);
}
.main__primero img{
    width: 100%;
}

/*MAIN segundo*/
.main__segundo{
    background-color: rgb(223, 223, 223);
    padding-top: 70px;
}
.main__segundo img {
    width: 100%;
    height: 300px;

}

/*MAIN tercero*/

.main__tercero{
    padding: 70px 30px;
    background-color: rgb(223, 223, 223);
}
.main__terceroBloqueArriba{
    margin-bottom: 50px;
}
.main__terceroGaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main__terceroBloque div h2{
    font-size: 35px;
    margin-bottom: 35px;
    margin-left: 25px;
    font-family: 'Bebas Neue', cursive;
}
.main__terceroBotones{
    height: 20px;
}

.main__terceroGaleriaBloques {
    width: 24%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid gray 1px;
    background-color: white;
}
.main__terceroGaleria div a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__terceroGaleria div h3{
    font-size: 30px;
}
.main__terceroIndumentaria{
    margin-bottom: 10px;
    width: 100%;
}


/*MAIN cuarto*/
.main__cuarto{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../recursos/madera.png);
    background-position: center;
    
}
.main__cuartoBoleto {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-top: solid;
    border-bottom: solid;
    border-radius: 20px;

    background-image: url(../recursos/boleto.png);
    background-position: center;

    padding-top: 50px;
    padding-bottom: 50px;
}
.main__cuartoBoleto h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.main__cuartoBoleto p{
    font-size: 20px;
    margin-bottom: 30px;
}

.main__cuartoBoleto div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.main__cuartoInput1{
    width: 35%;
    height: 25px;
}
.main__cuartoInput2{
    width: 20%;
    margin-left: 10px;
}


/*FOOTER*/

footer{
    border-top: solid;
    border-color: black;
    background-color: rgb(71, 70, 70);
    padding-top: 40px;
}

footer section div h2{ 
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    color: white;
    text-decoration: underline;

}
footer p, footer a{
    font-size: 16px;
}

/*GRID*/
.grid__contenedor{
    display: grid;
    grid-template-areas: "uno dos tres cuatro "
                        "uno dos cinco seis"
                        "siete siete siete siete";
}

.grid__navegacion1{
    grid-area: uno;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}
.grid__navegacion2{
    grid-area: dos;
    display: flex;
    flex-direction: column;
}
.grid__contacto{
    grid-area: tres;
}

.grid__pagos{
    grid-area: cuatro;
}

.grid__atencion{
    grid-area: cinco;
}
.grid__redes{
    grid-area: seis;
}
.grid__copy{
    grid-area: siete;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding: 15px 30px;
    background: rgb(223, 223, 223);

}

/*FOOTER navegacion*/
.grid__bloque ul li{
    margin-bottom: 5px;
}

.grid__bloque ul li:hover{
    color: white;
}

.grid__bloque ul li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}


/**FOOTER contacto*/
.grid__contacto div div{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}
.grid__contactoImg{
    width: 8%;
    margin-right: 5px;
}
.grid__contactoImg img{
    display: relative;
    width: 20px;
    height: 20px;
}

/*FOOTER pagos*/
.grid__pagosImg{
    display: flex;
    flex-direction: column;

}
.grid__pagosImg div{
    display: relative;
}
.grid__pagosImg div img{
    position: relative;
    width: 40px;
    height: 30px;
}

/*FOOTER redes*/
.grid__redes div a img{
    position: relative;
    width: 40px;
    height: 40px;
}
.footer__instagram:hover{
    filter: invert(26%) sepia(84%) saturate(2161%) hue-rotate(312deg) brightness(89%) contrast(95%);
}
.footer_facebook:hover{
    filter: invert(26%) sepia(47%) saturate(7115%) hue-rotate(238deg) brightness(98%) contrast(108%);
}
.footer__twitter:hover{
    filter: invert(64%) sepia(55%) saturate(5857%) hue-rotate(164deg) brightness(100%) contrast(101%);
}

/*FOOTER copy*/
.grid__copy a {
    width: 3%;
    margin-right: 30px;
}
.grid__copy a img{
    width: 50px;
    height: 70px;
    
}

/*MOBILE*/
@media (max-width:1000px) and (min-width:721px){
    header{
        padding: 0 ;
    }
    .header__primero div{
        width: 100%;
    }
    .header__primero div img{
        width: 5%;
    }

    .header__segundo{
        display: grid;
        grid-template-areas:"uno dos tres"
                            "cuatro cuatro cuatro"
    }
    .header__segundoIzquierda{
        grid-area: uno;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 2rem;
    }
    .header__segundoEspacio{
        grid-area: dos;
    }

    .header__segundoDerecha{
        grid-area: tres;
        width: 100%;
    }
    .header__segundoIcons{
        width: 50px;
        height: 50px;
    }
    .header__segundoCentro{
        grid-area: cuatro;
        width: 100%;
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    .main__terceroGaleria{
        margin: 0 25px;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1.5rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1.5rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 1rem 0;
    }
    .main__cuartoBoleto{
        width: 85%;
    }
    .main__cuartoBoleto h2{
        font-size: 1.3rem;
        text-align: center;
    } 
    .main__cuartoBoleto p{
        font-size: 1rem;
        text-align: center;
    }
    .main__cuartoInput1{
        width: 50%;
    }
    .main__cuartoInput2{
        width: 25%;
        font-size: 0.6rem;
    }

    /*FOOTER*/
    .grid__contenedor{
        display: grid;
        grid-template-areas:"uno dos seis"
                            "tres cinco cuatro"
                            "siete siete siete";
        margin-bottom: 5px;
    }
    .grid__navegacion1{
        padding-left: 3rem;
    }
    .grid__contacto{
        padding-left: 3rem;
    }
    .grid__copy{
        padding-left: 3rem;
        margin-top: 1rem;
    }
    .grid__bloque{
        font-size: 0.8rem;
        padding-bottom: 1rem;
    }
    
    .grid__copy a{
        width: 3rem;
    }

    .grid__copy p{
        font-size: 0.9rem;
    }

}


@media (max-width:720px) and (min-width:541px){
    /*HEADER*/
    header{
        padding: 0;
    }

    /*HEADER PRIMERO*/
    .header__primero div{
        width: 100%;
    }
    .header__primero div b{
        font-size: 0.8rem;
    }
    .header__primero div p{
        font-size: 0.8rem;
    }

    /*HEADER SEGUNDO*/
    .header__segundo{
        display: grid;
        grid-template-areas:"uno dos tres"
                            "cuatro cuatro cuatro"
    }
    .header__segundoIzquierda{
        grid-area: uno;
        width: 100%;
        margin-bottom: 15px;
        margin-left: 2rem;
    }
    .header__segundoEspacio{
        grid-area: dos;
    }

    .header__segundoDerecha{
        grid-area: tres;
        width: 100%;
    }
    .header__segundoIcons{
        width: 50px;
        height: 50px;
    }
    .header__segundoCentro{
        grid-area: cuatro;
        width: 100%;
    }
    nav ul li a{
        font-size: 1.3rem;
    }
    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    .main__terceroBloque div h2{
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .main__terceroGaleria{
        margin: 0 1rem;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1.5rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1.5rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    /*MAIN cuarto*/
    .main__cuarto{
        padding: 1rem 0;
    }
    .main__cuartoBoleto{
        width: 90%;
    }
    .main__cuartoBoleto h2{
        font-size: 1.2rem;
        text-align: center;
    }  
    .main__cuartoBoleto p{
        font-size: 1rem;
        text-align: center;
    }
    .main__cuartoInput1{
        width: 50%;
    }
    .main__cuartoInput2{
        width: 25%;
        font-size: 0.6rem;
    }

    /*FOOTER*/
    .grid__contenedor{
        display: grid;
        grid-template-areas:"uno dos"
                            "seis dos"
                            "tres cuatro"
                            "cinco cinco"
                            "siete siete";
        margin-bottom: 5px;
    }
    .grid__navegacion1{
        padding-left: 2rem;
    }
    .grid__contacto{
        padding-left: 2rem;
    }
    .grid__atencion{
        padding-left: 2rem;
    }
    .grid__redes{
        padding-left: 2rem;
    }
    .grid__pagos{
        padding-left: 0;
    }
    .grid__bloque{
        font-size: 0.8rem;
        padding-bottom: 1rem;

    }
    .grid__copy{
        padding-left: 2rem;
    }

    .grid__copy a{
        width: 3rem;
    }
    .grid__copy p{
        font-size: 0.9rem;
    }

}

@media (max-width:540px) and (min-width:320px){
    /*HEADER*/
    header{
        padding: 0;
    }
    /*HEADER PRIMERO*/
    .header__primero div{
        width: 100%;
    }
    .header__primero div b{
        font-size: 0.8rem;
    }
    .header__primeroPromoCelu1{
        display: none;
        visibility: visible;
    }
    .header__primeroPromoCelu2{
        display: inline-block;
        font-size: 0.8rem;
    }
    

    /*HEADER SEGUNDO*/
    .header__segundo{
        display: grid;
        grid-template-areas:"uno dos tres"
                            "cuatro cuatro cuatro"
    }
    .header__segundoIzquierda{
        grid-area: uno;
        width: 100%;
        margin-bottom: 1rem;
    }
    .header__segundoIzquierda a img{
        height: 5rem;
    }
    .header__segundoEspacio{
        grid-area: dos;
    }

    .header__segundoDerecha{
        grid-area: tres;
        width: 100%;
    }
    .header__segundoIcons{
        width: 2rem;
        height: 2rem;
    }
    .header__segundoCentro{
        grid-area: cuatro;
        width: 100%;
        
    }
    nav ul{
        display: flex;
        flex-wrap: wrap;
    }
    nav ul li a{
        font-size: 1rem;
    }
    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 3rem 0;
    }
    .main__terceroBloque div h2{
        text-align: center;
        margin-left: 0;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    .main__movil{
        display: none;
        visibility: visible;
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 1rem 0;
    }
    .main__cuartoBoleto{
        width: 95%;
        background-size: auto;
    }
    .main__cuartoBoleto h2{
        font-size: 1rem;
        text-align: center;
    } 
    .main__cuartoBoleto p{
        font-size: 0.8rem;
        text-align: center;
    }
    .main__cuartoInput1{
        width: 60%;
    }
    .main__cuartoInput2{
        width: 25%;
        font-size: 0.6rem;
    }

    /*FOOTER*/
    .grid__contenedor{
        display: grid;
        grid-template-areas:"uno"
                            "dos"
                            "tres"
                            "cuatro"
                            "cinco"
                            "seis"
                            "siete";
        margin-bottom: 5px;
    }
    .grid__navegacion1{
        padding-left: 0;
    }
    .grid__contactoImg{
        width: auto;
    }
    .grid__bloque{
        font-size: 0.8rem;
        margin-bottom: 1rem;
        padding-left: 1rem;
    }
    .grid__copy{
        margin-top: 0;
        margin-bottom: 0;
    }
    .grid__copy a{
        width: 5rem;
        margin-right: 0.5rem;
        
    }
    .grid__copy a img{
        height: 100%;
    }
    .grid__copy p{
        font-size: 0.8rem;
    }
}



