@charset "UTF-8";
h2 {
  font-size: 2.5rem;
  font-weight: 600; }

h3 {
  font-size: 1.2rem;
  font-weight: 600; }

/*HEADER*/
header {
  background-color: yellow;
  position: relative; }

/*HEADER Primero*/
.header__primero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin-bottom: 0.938rem;
  padding: 0.625rem 0;
  margin: 0 1.875rem; }
  .header__primero div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white; }
    .header__primero div i {
      color: white;
      margin-right: 0.625rem; }
    .header__primero div p {
      margin-left: 0.625rem; }

.header__primeroPromo1 {
  animation-duration: 7s;
  animation-name: promo1;
  animation-iteration-count: infinite; }

.header__primeroPromo2 {
  position: absolute;
  animation-duration: 7s;
  animation-name: promo2;
  animation-iteration-count: infinite;
  z-index: -1; }

/*ANIMACION promo1*/
@keyframes promo1 {
  0% {
    z-index: 1; }
  40% {
    z-index: 1; }
  100% {
    z-index: -1; } }

/*ANIMACION promo2*/
@keyframes promo2 {
  0% {
    z-index: -1; }
  60% {
    z-index: -1; }
  100% {
    z-index: 1; } }

/*HEADER Segundo*/
.header__segundoPC {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem; }
  .header__segundoPC .header__logo {
    height: auto;
    border: solid;
    border-color: black;
    width: 15.625rem; }
    .header__segundoPC .header__logo a img {
      width: 100%;
      height: 6.875rem; }
  .header__segundoPC .header__buscador {
    width: 50%;
    background: white;
    border-radius: 0.375rem;
    border: 0.063rem solid black; }
    .header__segundoPC .header__buscador button {
      margin: 0;
      background-color: white;
      border: none;
      border-radius: none; }
      .header__segundoPC .header__buscador button:hover {
        background: black; }
      .header__segundoPC .header__buscador button i {
        font-size: 1.6em;
        color: black;
        font-size: 2em; }
        .header__segundoPC .header__buscador button i:hover {
          color: white; }
    .header__segundoPC .header__buscador input {
      border: none; }

/*ICONOS*/
.header__iconos {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center; }
  .header__iconos a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 0.6rem; }
  .header__iconos i {
    color: black;
    font-size: 2.5em; }
    .header__iconos i:hover {
      color: white; }

/*ICON SHOP*/
.header__iconosShop {
  padding: 0; }
  .header__iconosShop button {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    height: 100%;
    line-height: normal; }
    .header__iconosShop button:hover {
      background-color: transparent; }
    .header__iconosShop button:focus {
      background: none;
      box-shadow: none;
      border: none; }
    .header__iconosShop button i {
      color: black;
      line-height: normal; }
      .header__iconosShop button i:hover {
        color: white; }
  .header__iconosShop div {
    width: 100vw;
    max-width: 27.5rem;
    padding: 0;
    border: none;
    background: transparent; }
    .header__iconosShop div span {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 0; }
      .header__iconosShop div span i {
        color: white;
        font-size: 2em;
        margin-right: 0.5rem;
        line-height: 0; }
    .header__iconosShop div div {
      background-color: white;
      border-radius: 0.313rem; }
      .header__iconosShop div div p {
        padding: 3.125rem; }

/*NAVEGACION*/
nav {
  width: 100%;
  border: solid;
  border-color: black;
  background-color: black; }
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    nav ul li {
      font-size: 1.563rem;
      padding: 0.563rem 0.625rem;
      color: white;
      font-family: 'Bangers', cursive;
      border: none;
      line-height: normal;
      background-color: black; }
      nav ul li:hover {
        background-color: white;
        color: black; }
      nav ul li a {
        font-size: 1.563rem;
        color: white;
        font-family: 'Bangers', cursive; }
      nav ul li:hover a {
        color: black; }

/*SUBMENU*/
.header__submenuPC {
  display: none;
  position: absolute;
  width: 100vw;
  z-index: 1000;
  top: 16.5rem;
  left: 0;
  background: white;
  padding: 1rem 0;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .header__submenuPC li {
    margin-right: 4rem;
    background: transparent; }
    .header__submenuPC li:last-child {
      margin-right: 0; }
    .header__submenuPC li a {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .header__submenuPC li a:hover {
        color: rgba(0, 0, 0, 0.74); }
      .header__submenuPC li a i {
        font-size: 1.5em;
        padding-bottom: 1rem; }
      .header__submenuPC li a p {
        font-size: 1rem; }

.nav__hombre:hover ul, .nav__mujer:hover ul, .nav__niño:hover ul, .nav__niña:hover ul {
  display: flex; }

/*FOOTER*/
footer {
  border-top: solid;
  border-color: black;
  background-color: #474646;
  padding-top: 2.5rem; }
  footer ul {
    padding: 0; }
    footer ul li a:hover, footer ul li a::selection {
      text-decoration: underline;
      text-decoration-color: white;
      color: black; }
  footer a, footer p {
    color: black;
    font-size: 1rem;
    height: 2rem; }
  footer h3 {
    font-family: 'Comic Neue';
    margin-bottom: 0.938rem;
    color: white; }

/*FOOTER primero*/
.footer__pc {
  /*FOOTER segundo*/ }
  .footer__pc .footer__primero {
    display: grid;
    padding: 0 2rem;
    grid-template-areas: "uno dos tres cuatro" "uno dos tres cinco";
    grid-template-columns: auto auto auto 25%; }
    .footer__pc .footer__primero .footer__navegacion {
      display: flex;
      flex-direction: column; }
    .footer__pc .footer__primero .footer__nav1 {
      grid-area: uno; }
    .footer__pc .footer__primero .footer__nav2 {
      grid-area: dos; }
    .footer__pc .footer__primero .footer__atencion {
      grid-area: tres;
      display: flex;
      flex-direction: column;
      height: auto; }
      .footer__pc .footer__primero .footer__atencion a:hover {
        color: black; }
    .footer__pc .footer__primero .footer__redes {
      grid-area: cuatro; }
      .footer__pc .footer__primero .footer__redes a:hover {
        color: rgba(0, 0, 0, 0.733); }
      .footer__pc .footer__primero .footer__redes a i {
        font-size: 2.5em; }
    .footer__pc .footer__primero .footer__seguridad {
      grid-area: cinco; }
  .footer__pc .footer__segundo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2.5rem;
    padding: 0.938rem 1.875rem;
    background: #dfdfdf; }
    .footer__pc .footer__segundo a {
      width: 3.125rem;
      margin-right: 1.25rem;
      height: auto; }
      .footer__pc .footer__segundo a img {
        width: auto;
        height: 4.375rem; }
    .footer__pc .footer__segundo p {
      height: auto; }

* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  font-family: sans-serif; }

body a {
  text-decoration: none;
  color: black; }
  body a:hover {
    color: black; }

body p {
  margin-bottom: 0; }

/*COSAS CON DISPLAY NONE*/
.header__primeroPromoCelu2 {
  display: none; }

.footer__accordion {
  display: none; }

.header__segundoMobile {
  display: none; }

/*MAIN*/
/*MAIN primero*/
.main__primero {
  background-color: #dfdfdf; }
  .main__primero div div .main__primeroButtonL {
    justify-content: flex-start;
    padding-left: 1rem; }
  .main__primero div div .main__primeroButtonR {
    justify-content: flex-end;
    padding-right: 1rem; }
  .main__primero div .main__primeroIndicador {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
    .main__primero div .main__primeroIndicador [data-bs-target] {
      width: 0.688rem;
      height: 0.688rem;
      border-radius: 50%;
      text-indent: 0;
      background-color: black; }
    .main__primero div .main__primeroIndicador .active {
      width: 0.813rem;
      height: 0.813rem; }

/*MAIN segundo*/
.main__segundo {
  background-color: #dfdfdf;
  padding-top: 2rem; }
  .main__segundo img {
    width: 100%; }

/*MAIN tercero*/
.main__tercero {
  padding: 6.25rem 0;
  background-color: #dfdfdf; }
  .main__tercero .main__terceroTablet, .main__tercero .main__terceroPhone {
    display: none; }
  .main__tercero .main__terceroPC:first-child {
    margin-bottom: 3.125rem; }
  .main__tercero .main__terceroPC h2 {
    margin-bottom: 2.188rem;
    margin-left: 3.125rem;
    font-family: 'Bebas Neue', cursive;
    color: black; }
  .main__tercero .main__terceroPC #galeria__masVendidos, .main__tercero .main__terceroPC #galeria__lanzamientos {
    background: #dfdfdf; }
    .main__tercero .main__terceroPC #galeria__masVendidos .carousel-item-next, .main__tercero .main__terceroPC #galeria__masVendidos .carousel-item-prev, .main__tercero .main__terceroPC #galeria__masVendidos .carousel-item.active, .main__tercero .main__terceroPC #galeria__lanzamientos .carousel-item-next, .main__tercero .main__terceroPC #galeria__lanzamientos .carousel-item-prev, .main__tercero .main__terceroPC #galeria__lanzamientos .carousel-item.active {
      padding: 0 3.125rem;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      flex-wrap: nowrap;
      background: #dfdfdf; }
    .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center; }
      .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div {
        background: white;
        max-height: 100%;
        width: 100%;
        border: 1px solid gray;
        padding: 0.625rem 0.313rem;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; }
        .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div a, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div a, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div a, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div a {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%; }
          .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div a img, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div a img {
            width: 100%;
            height: 100%;
            margin-bottom: 0.5rem; }
          .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div a p, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div a p {
            color: #393c3e;
            font-size: 1rem;
            text-align: center; }
        .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div h3, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div h3 {
          margin-bottom: 0;
          margin-top: 0.5rem;
          font-size: 1.5rem;
          font-weight: 600; }
        .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria .index__productos div:last-child, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria .index__productos div:last-child {
          margin-right: 0; }
      .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria button, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria button {
        width: 3.125rem;
        color: rgba(0, 0, 0, 0.562);
        background: #dfdfdf;
        opacity: 1; }
        .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria button:hover, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria button:hover {
          color: black;
          opacity: 1; }
        .main__tercero .main__terceroPC #galeria__masVendidos .index__galeria button:focus, .main__tercero .main__terceroPC #galeria__lanzamientos .index__galeria button:focus {
          color: none;
          opacity: 1; }

/*MAIN cuarto*/
.main__cuarto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  background-image: url(../recursos/madera.png);
  background-position: center; }
  .main__cuarto .main__cuartoBoleto {
    width: 56.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-color: black;
    border-top: solid;
    border-bottom: solid;
    border-radius: 1.25rem;
    background-image: url(../recursos/boleto.png);
    background-position: center;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem; }
    .main__cuarto .main__cuartoBoleto h2 {
      font-size: 1.875;
      margin-bottom: 0.625rem;
      text-align: center;
      color: black; }
    .main__cuarto .main__cuartoBoleto p {
      font-size: 1.25rem;
      margin-bottom: 1.875rem;
      color: black; }
    .main__cuarto .main__cuartoBoleto div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-items: initial;
      width: 100%; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput1 {
        width: 45%;
        height: 2.5rem;
        padding-left: 0.938rem;
        border: 0.063rem solid black;
        border-radius: 0.188rem 0 0 0.188rem; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput2 {
        width: 15%;
        font-weight: 600;
        border: none;
        background: #dfdfdf;
        color: rgba(0, 0, 0, 0.767);
        border: 0.063rem solid black;
        border-radius: 0 0.188rem 0.188rem 0; }

/*MOBILE*/
@media (max-width: 1000px) and (min-width: 721px) {
  /*HEADER PRIMERO*/
  .header__primero {
    margin: 0; }
    .header__primero div {
      width: 100%; }
      .header__primero div i {
        font-size: 1.6em; }
      .header__primero div b, .header__primero div p {
        font-size: 1rem; }
  /*HEADER segundo*/
  .header__segundoPC {
    padding: 1.5rem 1rem; }
    .header__segundoPC .header__logo {
      width: 13.063rem;
      margin-right: 0.5rem; }
      .header__segundoPC .header__logo a img {
        height: 6.25rem; }
    .header__segundoPC .header__buscador {
      width: 45%;
      height: 2.5rem; }
      .header__segundoPC .header__buscador button {
        margin: 0; }
        .header__segundoPC .header__buscador button i {
          font-size: 1.6em; }
    .header__segundoPC .header__iconos a {
      margin-right: 0.4rem; }
  .header__submenuPC {
    top: 15.5rem; }
  /*MAIN PRIMERO*/
  .main__primeroButtonR {
    padding-right: 0.5rem; }
  .main__primeroButtonL {
    padding-left: 0.5rem; }
  .main__primero div button i {
    font-size: 2.5em; }
  /*MAIN SEGUNDO*/
  .main__segundo {
    padding-top: 1rem; }
    .main__segundo img {
      height: 80%; }
  /*MAIN TERCERO*/
  .main__tercero {
    padding: 3.125rem 0; }
    .main__tercero h2 {
      font-size: 2.2rem; }
    .main__tercero p {
      display: flex;
      align-items: center;
      height: 3.125rem; }
  /*MAIN cuarto*/
  .main__cuarto {
    padding: 3rem 2rem; }
    .main__cuarto .main__cuartoBoleto {
      width: 40rem; }
      .main__cuarto .main__cuartoBoleto h2 {
        font-size: 1.3rem;
        text-align: center; }
      .main__cuarto .main__cuartoBoleto p {
        font-size: 1rem;
        margin-bottom: 0.625;
        text-align: center; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput1 {
        width: 50%;
        height: 2.188rem;
        font-size: 1rem; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput2 {
        width: 15%;
        font-size: 0.9rem; }
  /*FOOTER*/
  footer a, footer p, footer h3 {
    font-size: 0.95rem; }
  .footer__pc .footer__primero {
    padding: 0 1rem;
    grid-template-areas: "uno dos tres" "cinco nada cuatro";
    grid-template-columns: 31% 31% 37%; }
    .footer__pc .footer__primero .footer__redes {
      margin-top: 1rem; }
    .footer__pc .footer__primero .footer__seguridad {
      margin-top: 1rem; }
  .footer__pc .footer__segundo {
    padding-left: 1rem; } }

@media (max-width: 720px) and (min-width: 541px) {
  /*HEADER*/
  /*HEADER PRIMERO*/
  .header__primero {
    margin: 0; }
    .header__primero div {
      width: 100%; }
      .header__primero div i {
        font-size: 1.3em; }
      .header__primero div b, .header__primero div p {
        font-size: 0.9rem; }
  /*HEADER SEGUNDOMOBILE*/
  .header__segundo {
    display: none; }
  .header__segundoMobile {
    display: block; }
    .header__segundoMobile .header__completo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0; }
      .header__segundoMobile .header__completo .header__completoSuperior {
        width: 100%;
        flex-wrap: nowrap;
        padding: 1rem; }
        .header__segundoMobile .header__completo .header__completoSuperior button {
          padding: 0; }
          .header__segundoMobile .header__completo .header__completoSuperior button div i {
            font-size: 2.2em; }
          .header__segundoMobile .header__completo .header__completoSuperior button:focus {
            box-shadow: none; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido {
          background-color: #dfdfdf;
          left: -62.5rem; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__tituloMenu {
            background-color: yellow;
            padding: 0 1rem;
            padding-left: 0.8rem;
            border: solid black 0.063rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__tituloMenu div img {
              width: 100%;
              height: 5.625rem; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu {
            background: transparent;
            border: none;
            padding: 1rem 0; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul {
              border-radius: 0;
              border: none; }
              .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li {
                width: 100%;
                background: transparent;
                padding: 0;
                border: none;
                margin-bottom: 0.5rem; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li:last-child {
                  margin-bottom: 0; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li button {
                  border: none;
                  background: transparent; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu {
                  display: flex;
                  width: 100%;
                  color: black;
                  padding: 1rem 0rem 1rem 2rem;
                  flex-direction: row;
                  justify-content: space-between; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu::after {
                    margin-right: 1rem;
                    align-self: center;
                    transition: transform .2s ease-in-out; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu:focus {
                    background-color: black;
                    color: white; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu:hover {
                    background-color: black;
                    color: white; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .dropdown-menu[data-bs-popper] {
                  margin-top: 0; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .show:not(.collapsed)::after {
                  transform: rotate(-180deg); }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__subNavegacion {
                  padding: 0.5rem 0rem 0.5rem 2rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .offcanvas.show {
          transform: translateX(62.5rem); }
        .header__segundoMobile .header__completo .header__completoSuperior .header__logo {
          width: 100%;
          border: none;
          display: flex;
          justify-content: center; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__logo a {
            width: 12.688rem;
            height: auto;
            border: solid black; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__logo a img {
              width: 100%;
              height: 5.625rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos a {
          margin-right: 0.5rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos i {
          font-size: 2em; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop {
          position: relative; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div {
            max-width: 23.125rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div span i {
              margin-right: 0.35rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div div p {
              padding: 2.5rem 1rem;
              text-align: center; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 0; }
  /*BUSCADOR*/
  .header__buscador {
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 0; }
    .header__buscador form button {
      display: flex;
      align-content: center;
      background-color: white;
      border: none; }
      .header__buscador form button i {
        color: black;
        font-size: 1.6em; }
      .header__buscador form button::selection {
        box-shadow: none;
        border: none; }
      .header__buscador form button:hover {
        background-color: black;
        border: none; }
      .header__buscador form button:hover i {
        color: white; }
    .header__buscador form input {
      border: none;
      border-radius: 0%; }
  /*MAIN PRIMERO*/
  #carouselExampleIndicators .carousel-inner .main__primeroButtonR {
    padding-right: 0.5rem; }
    #carouselExampleIndicators .carousel-inner .main__primeroButtonR i {
      font-size: 2em; }
  #carouselExampleIndicators .carousel-inner .main__primeroButtonL {
    padding-left: 0.5rem; }
    #carouselExampleIndicators .carousel-inner .main__primeroButtonL i {
      font-size: 2em; }
  #carouselExampleIndicators .main__primeroIndicador button {
    width: 0.563rem;
    height: 0.563rem; }
  #carouselExampleIndicators .main__primeroIndicador .active {
    width: 0.688rem;
    height: 0.688rem; }
  /*MAIN SEGUNDO*/
  .main__segundo {
    padding-top: 0.5rem; }
    .main__segundo img {
      height: 100%; }
  /*MAIN TERCERO*/
  .main__tercero {
    padding: 2.5rem 0;
    padding-bottom: 0;
    background-color: #dfdfdf; }
    .main__tercero .main__terceroPC, .main__tercero .main__terceroPhone {
      display: none; }
    .main__tercero .main__terceroTablet {
      display: block;
      padding-bottom: 2.5rem; }
      .main__tercero .main__terceroTablet h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-left: 3.125rem;
        font-family: 'Bebas Neue', cursive;
        color: black; }
      .main__tercero .main__terceroTablet #galeria__masVendidosTablet, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet {
        background: #dfdfdf; }
        .main__tercero .main__terceroTablet #galeria__masVendidosTablet .carousel-item-next, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .carousel-item-prev, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .carousel-item.active, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .carousel-item-next, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .carousel-item-prev, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .carousel-item.active {
          padding: 0 3.125rem;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
          background: #dfdfdf; }
        .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria {
          display: flex;
          flex-direction: row; }
          .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div {
            background: white;
            height: auto;
            width: 100%;
            border: 0.063rem solid gray;
            padding: 0.625rem 0.313rem;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center; }
            .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div a, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div a, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div a, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div a {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%; }
              .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div a img, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div a img {
                width: 100%;
                margin-bottom: 0.5rem;
                height: auto; }
              .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div a p, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div a p {
                color: #393c3e;
                display: flex;
                align-items: center;
                font-size: 0.9rem;
                height: 3.125rem;
                text-align: center; }
            .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div h3, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div h3 {
              margin-bottom: 0;
              font-size: 1.2rem;
              font-weight: 600; }
            .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria .index__productos div:last-child, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria .index__productos div:last-child {
              margin-right: 0; }
          .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria button, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria button {
            width: 50px;
            color: rgba(0, 0, 0, 0.562);
            background: #dfdfdf;
            opacity: 1; }
            .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria button:hover, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria button:hover {
              color: black;
              opacity: 1; }
            .main__tercero .main__terceroTablet #galeria__masVendidosTablet .index__galeria button:focus, .main__tercero .main__terceroTablet #galeria__lanzamientosTablet .index__galeria button:focus {
              color: none;
              opacity: 1; }
  /*MAIN cuarto*/
  .main__cuarto {
    padding: 2rem 1rem; }
    .main__cuarto .main__cuartoBoleto {
      width: 32rem;
      padding: 2rem 0; }
      .main__cuarto .main__cuartoBoleto h2 {
        font-size: 1.2rem;
        text-align: center; }
      .main__cuarto .main__cuartoBoleto p {
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput1 {
        width: 55%; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput2 {
        width: 15%;
        font-size: 0.7rem; }
  /*FOOTER*/
  footer {
    padding-top: 2rem; }
    footer .footer__pc {
      display: none;
      visibility: visible; }
    footer .footer__accordion {
      display: block; }
      footer .footer__accordion .footer__accordion-item {
        border-left: none;
        border-right: none; }
        footer .footer__accordion .footer__accordion-item button {
          background: #474646;
          color: white; }
          footer .footer__accordion .footer__accordion-item button:hover {
            background: black; }
          footer .footer__accordion .footer__accordion-item button::after {
            filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%); }
        footer .footer__accordion .footer__accordion-item ul {
          padding-left: 0;
          margin-bottom: 0; }
          footer .footer__accordion .footer__accordion-item ul li {
            height: 2rem; }
            footer .footer__accordion .footer__accordion-item ul li a {
              color: rgba(0, 0, 0, 0.637); }
              footer .footer__accordion .footer__accordion-item ul li a:hover {
                text-decoration: underline; }
        footer .footer__accordion .footer__accordion-item .footer__accordion-body {
          display: flex;
          flex-direction: column;
          background-color: #dfdfdf; }
          footer .footer__accordion .footer__accordion-item .footer__accordion-body p, footer .footer__accordion .footer__accordion-item .footer__accordion-body a {
            color: rgba(0, 0, 0, 0.637); }
          footer .footer__accordion .footer__accordion-item .footer__accordion-body a:hover {
            color: black; }
        footer .footer__accordion .footer__accordion-item .accordion-button:not(.collapsed) {
          background: black;
          color: white; }
          footer .footer__accordion .footer__accordion-item .accordion-button:not(.collapsed)::after {
            filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%); }
    footer .footer__redes {
      padding: 1rem 1.25rem; }
      footer .footer__redes h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Comic Neue';
        font-size: 1rem;
        font-weight: 400;
        color: white; }
        footer .footer__redes h3 a {
          margin-left: 0.6rem;
          font-size: 1.3rem;
          color: black; }
          footer .footer__redes h3 a:hover {
            color: rgba(0, 0, 0, 0.61); }
          footer .footer__redes h3 a i {
            font-size: 1.8rem; }
    footer .footer__boton {
      margin: 0 1.25rem;
      margin-bottom: 2rem;
      font-size: 1rem; }
      footer .footer__boton a button {
        font-family: 'Comic Neue';
        border: solid 0.125rem;
        padding: 0.5rem 1rem;
        border-color: black;
        background: black;
        color: white; }
        footer .footer__boton a button:hover {
          background: rgba(0, 0, 0, 0.548);
          color: white; }
    footer .footer__segundo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-left: 1rem;
      background: #dfdfdf; }
      footer .footer__segundo a {
        width: 3.125rem;
        margin-right: 1rem;
        height: auto; }
        footer .footer__segundo a img {
          width: auto;
          height: 4.375rem; }
      footer .footer__segundo p {
        height: auto;
        font-size: 0.95rem; } }

@media (max-width: 540px) and (min-width: 320px) {
  /*HEADER*/
  header {
    padding: 0; }
  /*HEADER PRIMERO*/
  .header__primero {
    margin: 0; }
    .header__primero .header__primeroPromoCelu1 {
      display: none;
      visibility: visible; }
    .header__primero .header__primeroPromoCelu2 {
      display: block; }
    .header__primero div {
      width: 100%; }
      .header__primero div i {
        font-size: 1.3em; }
      .header__primero div b, .header__primero div p {
        font-size: 0.9rem; }
  /*HEADER SEGUNDOMOBILE*/
  .header__segundo {
    display: none; }
  .header__segundoMobile {
    display: block; }
    .header__segundoMobile .header__completo {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      padding: 0; }
      .header__segundoMobile .header__completo .header__completoSuperior {
        width: 100%;
        flex-wrap: nowrap;
        padding: 1rem; }
        .header__segundoMobile .header__completo .header__completoSuperior button {
          padding: 0; }
          .header__segundoMobile .header__completo .header__completoSuperior button div i {
            font-size: 1.6em; }
          .header__segundoMobile .header__completo .header__completoSuperior button:focus {
            box-shadow: none; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido {
          background-color: #dfdfdf;
          left: -62.5rem; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__tituloMenu {
            background-color: yellow;
            padding: 0 1rem;
            padding-left: 0.8rem;
            border: solid black 0.063rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__tituloMenu div img {
              width: 100%;
              height: 5.625rem; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu {
            background: transparent;
            border: none;
            padding: 1rem 0; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul {
              border-radius: 0;
              border: none; }
              .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li {
                width: 100%;
                background: transparent;
                padding: 0;
                border: none;
                margin-bottom: 0.5rem; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li:last-child {
                  margin-bottom: 0; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li button {
                  border: none;
                  background: transparent; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu {
                  display: flex;
                  width: 100%;
                  color: black;
                  padding: 1rem 0rem 1rem 2rem;
                  flex-direction: row;
                  justify-content: space-between; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu::after {
                    margin-right: 1rem;
                    align-self: center;
                    transition: transform .2s ease-in-out; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu:focus {
                    background-color: black;
                    color: white; }
                  .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__opcionesMenu:hover {
                    background-color: black;
                    color: white; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .dropdown-menu[data-bs-popper] {
                  margin-top: 0; }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .show:not(.collapsed)::after {
                  transform: rotate(-180deg); }
                .header__segundoMobile .header__completo .header__completoSuperior .header__menuEscondido .header__navegadorMenu ul li .header__subNavegacion {
                  padding: 0.5rem 0rem 0.5rem 2rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .offcanvas.show {
          transform: translateX(62.5rem); }
        .header__segundoMobile .header__completo .header__completoSuperior .header__logo {
          width: 100%;
          border: none;
          display: flex;
          justify-content: center; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__logo a {
            width: 10rem;
            height: auto;
            border: solid black; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__logo a img {
              width: 100%;
              height: 4.375rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos a {
          margin-right: 0.2rem; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos i {
          font-size: 1.6em; }
        .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop {
          position: relative; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div {
            max-width: 15.625rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div span i {
              margin-right: 0.2rem; }
            .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop div div p {
              padding: 1.875rem 1rem;
              text-align: center; }
          .header__segundoMobile .header__completo .header__completoSuperior .header__iconos .header__iconosShop .dropdown-menu[data-bs-popper] {
            left: auto;
            right: 0; }
  /*BUSCADOR*/
  .header__buscador {
    width: 100%;
    border: none;
    background-color: white;
    border-radius: 0; }
    .header__buscador form button {
      display: flex;
      align-content: center;
      background-color: white;
      border: none; }
      .header__buscador form button i {
        color: black;
        font-size: 1.4em; }
      .header__buscador form button::selection {
        box-shadow: none;
        border: none; }
      .header__buscador form button:hover {
        background-color: black;
        border: none; }
      .header__buscador form button:hover i {
        color: white; }
    .header__buscador form input {
      border: none;
      border-radius: 0%; }
  /*MAIN PRIMERO*/
  #carouselExampleIndicators .carousel-inner .main__primeroButtonR {
    padding-right: 0.3rem; }
    #carouselExampleIndicators .carousel-inner .main__primeroButtonR i {
      font-size: 1.3em; }
  #carouselExampleIndicators .carousel-inner .main__primeroButtonL {
    padding-left: 0.3rem; }
    #carouselExampleIndicators .carousel-inner .main__primeroButtonL i {
      font-size: 1.3em; }
  #carouselExampleIndicators .main__primeroIndicador button {
    height: 0.438rem;
    width: 0.438rem; }
  #carouselExampleIndicators .main__primeroIndicador .active {
    height: 0.563rem;
    width: 0.563rem; }
  /*MAIN SEGUNDO*/
  .main__segundo {
    padding-top: 0rem; }
    .main__segundo img {
      height: 100%; }
  /*MAIN TERCERO*/
  .main__tercero {
    padding: 2rem 0;
    background-color: #dfdfdf; }
    .main__tercero .main__terceroPC, .main__tercero .main__terceroTablet {
      display: none; }
    .main__tercero .main__terceroPhone {
      display: block;
      margin-bottom: 2rem; }
      .main__tercero .main__terceroPhone:last-child {
        margin-bottom: 0; }
      .main__tercero .main__terceroPhone h2 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        margin-left: 2rem;
        font-family: 'Bebas Neue', cursive;
        color: black; }
      .main__tercero .main__terceroPhone #galeria__masVendidosPhone, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone {
        background: #dfdfdf; }
        .main__tercero .main__terceroPhone #galeria__masVendidosPhone .carousel-item-next, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .carousel-item-prev, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .carousel-item.active, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .carousel-item-next, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .carousel-item-prev, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .carousel-item.active {
          padding: 0 2rem;
          width: 100%;
          height: auto;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          flex-wrap: nowrap;
          background: #dfdfdf; }
        .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria {
          display: flex;
          flex-direction: row; }
          .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div {
            background: white;
            height: auto;
            width: 100%;
            border: 0.063rem solid gray;
            padding: 0.313rem 0;
            margin-right: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 10rem;
            max-height: 16.25rem; }
            .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div a, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div a, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div a, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div a {
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 100%;
              margin-bottom: 0.5rem; }
              .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div a img, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div a img, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div a img {
                max-height: 8.75rem;
                max-width: 7.5rem;
                margin-bottom: 0.5rem; }
              .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div a p, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div a p, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div a p {
                color: #393c3e;
                font-size: 0.8rem;
                height: 1.5rem;
                text-align: center;
                display: flex;
                align-items: center; }
            .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div h3, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div h3, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div h3 {
              margin-bottom: 0;
              font-size: 1rem;
              font-weight: 600; }
            .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria .index__productos div:last-child, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .carousel-item.active div:last-child, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria .index__productos div:last-child {
              margin-right: 0; }
          .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria button, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria button {
            width: 2rem;
            color: rgba(0, 0, 0, 0.562);
            background: #dfdfdf;
            opacity: 1; }
            .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria button:hover, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria button:hover {
              color: black;
              opacity: 1; }
            .main__tercero .main__terceroPhone #galeria__masVendidosPhone .index__galeria button:focus, .main__tercero .main__terceroPhone #galeria__lanzamientosPhone .index__galeria button:focus {
              color: none;
              opacity: 1; }
  /*MAIN cuarto*/
  .main__cuarto {
    padding: 1rem 0; }
    .main__cuarto .main__cuartoBoleto {
      width: 95%;
      background-size: auto;
      padding: 2rem 0.5rem; }
      .main__cuarto .main__cuartoBoleto h2 {
        font-size: 1rem;
        text-align: center;
        margin-bottom: 0.313rem; }
      .main__cuarto .main__cuartoBoleto p {
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 0.313rem; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput1 {
        width: 50%;
        height: 1.875rem;
        padding-left: 0.313rem;
        font-size: 0.9rem; }
      .main__cuarto .main__cuartoBoleto div .main__cuartoInput2 {
        width: 30%;
        font-size: 0.6rem; }
  /*FOOTER*/
  footer {
    padding-top: 2rem; }
    footer .footer__pc {
      display: none;
      visibility: visible; }
    footer .footer__accordion {
      display: block; }
      footer .footer__accordion .footer__accordion-item {
        border-left: none;
        border-right: none; }
        footer .footer__accordion .footer__accordion-item button {
          background: #474646;
          color: white; }
          footer .footer__accordion .footer__accordion-item button:hover {
            background: black; }
          footer .footer__accordion .footer__accordion-item button::after {
            filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%); }
        footer .footer__accordion .footer__accordion-item ul {
          padding-left: 0;
          margin-bottom: 0; }
          footer .footer__accordion .footer__accordion-item ul li {
            height: 1.5rem; }
            footer .footer__accordion .footer__accordion-item ul li a {
              color: rgba(0, 0, 0, 0.637); }
              footer .footer__accordion .footer__accordion-item ul li a:hover {
                text-decoration: underline; }
        footer .footer__accordion .footer__accordion-item .footer__accordion-body {
          display: flex;
          flex-direction: column;
          background-color: #dfdfdf; }
          footer .footer__accordion .footer__accordion-item .footer__accordion-body p, footer .footer__accordion .footer__accordion-item .footer__accordion-body a {
            color: rgba(0, 0, 0, 0.637); }
          footer .footer__accordion .footer__accordion-item .footer__accordion-body a:hover {
            color: black; }
        footer .footer__accordion .footer__accordion-item .accordion-button:not(.collapsed) {
          background: black;
          color: white; }
          footer .footer__accordion .footer__accordion-item .accordion-button:not(.collapsed)::after {
            filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%); }
    footer .footer__redes {
      padding: 1rem 1.25rem; }
      footer .footer__redes h3 {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-family: 'Comic Neue';
        font-size: 1rem;
        font-weight: 400;
        color: white; }
        footer .footer__redes h3 a {
          margin-left: 0.5rem;
          font-size: 1.5rem;
          color: black; }
          footer .footer__redes h3 a:first-child {
            margin-left: 1rem; }
          footer .footer__redes h3 a:hover {
            color: rgba(0, 0, 0, 0.61); }
          footer .footer__redes h3 a i {
            font-size: 1.5rem; }
    footer .footer__boton {
      margin: 0 1.25rem;
      margin-bottom: 2rem;
      font-size: 1rem; }
      footer .footer__boton a button {
        font-family: 'Comic Neue';
        border: solid 0.125rem;
        padding: 0.5rem 1rem;
        border-color: black;
        background: black;
        color: white; }
        footer .footer__boton a button:hover {
          background: rgba(0, 0, 0, 0.548);
          color: white; }
    footer .footer__segundo {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;
      padding-top: 1rem;
      padding-left: 1rem;
      background: #dfdfdf; }
      footer .footer__segundo a {
        width: 3.125rem;
        margin-right: 0.5rem;
        height: auto; }
        footer .footer__segundo a img {
          width: auto;
          height: 3.75rem; }
      footer .footer__segundo p {
        height: auto;
        font-size: 0.8rem; } }
