*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

a , p{
    text-decoration: none;
    margin-bottom: 0;
}
main a{
    color: black;
}
main a:hover{
    color: black;
}

h2{
    font-weight:600
}
.header__segundoMobile{
    display: none;
}
.header__buscadorMedio{
    display: none;
}
.header__buscador{
    display: none;
    visibility: visible;
}

/*COSAS CON DISPLAY NONE*/
.header__primeroPromoCelu2{
    display: none;
    visibility: visible;
}
.footer__accordion{
    display: none;
    visibility: visible;
}


/*HEADER*/
header{
    background-color: yellow;
}
/*HEADER Primero*/
.header__primero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 15px;
    padding: 10px 0;
    margin: 0 30px;
}
.header__primero div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    color: white;
}
.header__primero div i{
    color: white;
    margin-right: 10px;
}
.header__primero div p{
    margin-left: 10px;
}

.header__primeroPromo1{
    animation-duration: 7s;
    animation-name: promo1;
    animation-iteration-count: infinite;
}
/*ANIMACION promo1*/
@keyframes promo1 {    
    0%{
        z-index: 1;
    }
    40%{
        z-index: 1;
    }
    100%{
        z-index: -1;
    }

}

/*ANIMACION BANNER2*/
.header__primeroPromo2{
    position: absolute;
    animation-duration: 7s;
    animation-name: promo2;
    animation-iteration-count: infinite;
    z-index: -1;
}
@keyframes promo2 {    
    0%{
        z-index: -1;
    }
    60%{
        z-index: -1;
    }
    100%{
        z-index: 1;
    }

}

/*HEADER Segundo*/
.header__segundo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 30px;
    border-bottom: 1px solid black;
    

}
.header__segundoIzquierda{
    height: auto;
    width: 350px;
    border: solid;
    border-color: black;
}
.header__segundoIzquierda a img{
    width: 100%;
    height: 100px;
}

.header__segundoCentro{
    width: 100%;
    display: flex;
    justify-content: center;
}

nav{
    width: 93%;
    border: solid;
    border-color: black;
    background-color: black;
    
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around

}
nav ul li{
    padding: 7px 0px;
}

nav ul li a{
    font-size: 25px;
    padding: 7px 10px;
    color: white;
    font-family: 'Bangers', cursive;
}



/*Animacion*/

nav ul li:hover a{
    background-color: white;
    color: black;
}

.header__segundoDerecha{
    width: auto;
    display: flex;
    justify-content: space-around;
}
.header__segundoDerecha a{
    width: auto;
}

.header__segundoDerecha a i{
    color: black;
    font-size: 2.5em;
}

.header__segundoDerecha a i:hover{
    color: white;
}

/*ICON LUPA*/
.header__icon{
    background: yellow;
    margin: 0 0.8rem;
}
.header__icon div h2 button{
    padding: 0;
    font-size: 20px;
}
.header__icon div h2 button::after{
    display: none;
}
.header__iconBuscador{
    background: yellow;
    color: black;
}
.header__iconBuscador:hover{
    color: white;
}

/*BUSCARDO DENTRO*/
.header__acordionBuscador{
    padding: 0;
}
.header__buscador{
    background: white;
    border-bottom: 1px grey solid;
}
.form-control{
    border: none;
}
.header__buscadorButton{
    background-color: white;
    border: none;
    border-radius: none;
    margin-left: 1.5rem;
}
.header__buscadorButton:hover{
    background: black;
}
.header__buscadorButton:hover i{
    color: white;
}
.header__buscadorButton i{
    color: black;
    font-size: 2em;
}


/*MAIN*/

/*MAIN primero*/
.main__primero{
    background-color: rgb(223, 223, 223);
}

.main__primeroButtonL{
    justify-content: flex-start;
    padding-left: 1rem;
}
.main__primeroButtonR{
    justify-content: flex-end;
    padding-right: 1rem;
}

.main__primeroIndicador{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
}
.main__primeroIndicador [data-bs-target]{
    height: 11px;
    width: 11px;
    border-radius: 50%;
    text-indent:0px;
    background-color: black;
}
.main__primeroIndicador .active{
    height: 13px;
    width: 13px;
}

/*MAIN segundo*/
.main__segundo{
    background-color: rgb(223, 223, 223);
    padding-top: 1rem;
}
.main__segundo img {
    width: 100%;
    height: 300px;

}

/*MAIN tercero*/

.main__tercero{
    padding: 70px 30px;
    background-color: rgb(223, 223, 223);
}
.main__terceroBloqueArriba{
    margin-bottom: 50px;
}
.main__terceroGaleria{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.main__terceroBloque div h2{
    font-size: 35px;
    margin-bottom: 35px;
    margin-left: 25px;
    font-family: 'Bebas Neue', cursive;
    color: black;
}
.main__terceroBotones{
    height: 20px;
}

.main__terceroGaleriaBloques {
    width: 24%;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid gray 1px;
    background-color: white;
}
.main__terceroGaleria div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: black;
}
.main__terceroGaleria div h3{
    font-size: 30px;
    font-weight: bolder;
}
.main__terceroIndumentaria{
    margin-bottom: 10px;
    width: 100%;
}


/*MAIN cuarto*/
.main__cuarto{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

    background-image: url(../recursos/madera.png);
    background-position: center;
    
}
.main__cuartoBoleto {
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    border-top: solid;
    border-bottom: solid;
    border-radius: 20px;

    background-image: url(../recursos/boleto.png);
    background-position: center;

    padding-top: 50px;
    padding-bottom: 50px;
}
.main__cuartoBoleto h2{
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
    color: black;
}
.main__cuartoBoleto p{
    font-size: 20px;
    margin-bottom: 30px;
    color: black;
}

.main__cuartoBoleto div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}
.main__cuartoInput1{
    width: 45%;
    height: 40px;
    padding-left: 15px;
    border: 1px solid black;
    border-radius: 3px 0 0 3px;
}
.main__cuartoInput2{
    width: 15%;
    font-weight: 600;
    border: none;
    background: rgb(223, 223, 223);
    color: rgba(0, 0, 0, 0.767);
    border: 1px solid black;
    border-radius: 0 3px 3px 0;
}


/*FOOTER*/

footer{
    border-top: solid;
    border-color: black;
    background-color: rgb(71, 70, 70);
    padding-top: 40px;
}
footer ul{
    padding: 0;
}
footer a, footer p{
    color: black;
    font-size: 1rem;
    height: 2rem;
}

footer ul li a:hover{
    text-decoration: underline;
    text-decoration-color: white;
    color: black;
}

footer section div h2{ 
    font-size: 1.2rem;
    font-family: 'Comic Neue';
    margin-bottom: 15px;
    color: white;

}
/*FOOTER primero*/
.footer__primero{
    display: grid;
    padding: 0 2rem;
    grid-template-areas: "uno dos tres cuatro"
                        "uno dos tres cinco";
    grid-template-columns: auto auto auto 25%;
}

.footer__nav1{
    grid-area: uno;
}
.footer__nav2{
    grid-area:dos;
}

.footer__navegacion{
    display: flex;
    flex-direction: column;
}

.footer__atencion{
    grid-area: tres;
    display: flex;
    flex-direction: column;
    height: auto;
}
.footer__atencion a:hover{
    color: black;
}

.footer__redes{
    grid-area: cuatro;
}
.footer__redes a i{
    font-size: 2.5em;
}
.footer__redes a:hover {
    color: rgba(0, 0, 0, 0.733);
}

.footer__seguridad{
    grid-area: cinco;
}


/*FOOTER segundo*/
.footer__segundo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 40px;
    padding: 15px 30px;
    background: rgb(223, 223, 223);
}
.footer__segundo p{
    height: auto;
}
.footer__segundo a {
    width: 50px;
    margin-right: 20px;
    height: auto;
}
.footer__segundo a img{
    width: auto;
    height: 70px;
}

/*MOBILE*/
@media (max-width:1000px) and (min-width:721px){
    header{
        padding: 0;
    }
    .header__conLupa{
        display: none;
        visibility: visible;
    }

    /*HEADER PRIMERO*/
    .header__primero{
        margin: 0;
    }
    .header__primero div{
        width: 100%;
    }
    .header__primero div i{
        font-size: 1.6em
    }
    .header__primero div b{
        font-size: 1rem;
    }
    .header__primero div p{
        font-size: 1rem;
    }
    
    .header__icon{
        margin-right: 0.9rem;
    }
    
    /*HEADER segundo*/
    .header__segundo{
        display: none;
    }

    .header__buscadorMedio{
        display: block;
    }
    .header__buscadorPrimero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 1rem;
    }

    .header__segundoIzquierda{
        width: 209px;
    }
    
    .header__buscadorLupa{
        width: 50%;
        height: 40px;
        background: white;
        border-radius: 3px;
        border: 1px solid black;
    }
    .header__buscadorButton{
        margin: 0;
    }
    .header__buscadorButton i{
        font-size: 1.6em;
    }


    
    /*Header Icons*/
    .header__segundoDerecha{
        justify-content: flex-end;
        width: auto;
    }
    .separacion{
        margin-right: 0.5rem;
    }
    /*navegador*/
    .header__segundoCentro nav{
        width: 100%;
    }

    /*MAIN PRIMERO*/
    .main__primeroButtonR{
        padding-right: 0.5rem;
    }
    .main__primeroButtonL{
        padding-left: 0.5rem;
    }
    .main__primero div button i{
        font-size: 2.5em;
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    .main__terceroGaleria{
        margin: 0 25px;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1.5rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1.5rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 3rem 0;
    }
    .main__cuartoBoleto{
        width: 600px;
    }
    .main__cuartoBoleto h2{
        font-size: 1.3rem;
        text-align: center;
    } 
    .main__cuartoBoleto p{
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
    }
    .main__cuartoInput1{
        width: 50%;
        height: 35px;
        font-size: 1rem;
    }
    .main__cuartoInput2{
        width: 15%;
        font-size: 0.9rem;
    }

    /*FOOTER*/

    footer ul li a{
        font-size: 0.95rem;
    }
    footer section div h2{
        font-size: 0.95rem;
    }
    .footer a, footer p{
        font-size: 0.95rem;
    }
    .footer__primero{
        grid-template-areas: "uno dos tres"
                            "cinco nada cuatro";
        grid-template-columns: 31% 31% 37%;
        padding: 0 1rem;
    }

    .footer__redes{
        margin-top: 1rem;
    }
    .footer__seguridad{
        margin-top: 1rem;
    }
    .footer__segundo{
        padding-left: 1rem;
    }
}


@media (max-width:720px) and (min-width:541px){
    .header__icon, .header__conLupa{
        display: none;
        visibility: visible;
    }
    /*HEADER*/
    header{
        padding: 0;
    }
    /*HEADER PRIMERO*/
    .header__primero div{
        width: 100%;
    }
    .header__primero{
        margin: 0;
    }
    .header__primero div i{
        font-size: 1.3em
    }
    .header__primero div b{
        font-size: 0.9rem;
    }
    .header__primero div p{
        font-size: 0.9rem;
    }

    /*BARRA DE MENU*/
    .header__segundo{
        display: none;
        visibility: visible;
    }
    .header__segundoMobile{
        display: block;
        visibility: visible;
    }

    /*HEADER PRIMERO BOOTSTRAP*/
    .header__menu{
        width: 120px;
        justify-content: flex-start;
        padding: 0;
    }
    .header__navbar{
        justify-content: space-around;
        flex-wrap: nowrap;
        background: yellow;
    }

    .header__marca{
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
    }
    .header__marca a{
        width: 203px;
        height: auto;
        border: solid black;
    }
    .header__marca a img, .header__submenuMarca{
        width: 100%;
        height: 90px;
    }

    .header__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 120px;
    }
    .header__iconSeparacion{
        margin-right: 1rem;
    }
    
    .header__icons a i{
        color: black;
        font-size: 2.2em;
    }
    
    .header__icons a i:hover{
        color: white;
    }
    
    /*ICONO DEL MENU DESPLEGABLE*/
    .header__navButton{
        padding: 0;
    }
    .header__navIcon i{
        font-size: 2.2em;
    }
    .header__navButton:focus{
        box-shadow: none;
    }
    /*MENU NO DESPLEGABLE*/
    .header__menuEscondido{
        background-color: rgb(223, 223, 223);
        left: -1000px;
    }
    /*MENU DESPLEGABLE TRANSFORM*/
    .offcanvas.show{
        transform: translateX(1000px);
    }

    /*MENU DESPLEGABLE*/
    .header__tituloMenu{
        background-color: yellow;
        padding: 0 1rem;
        padding-left: 0.8rem;
        border: solid black 1px;
    }
    .header__navegadorMenu{
        padding-left: 0;
        padding-right: 0;
    }
    .header__segundoMobile nav{
        padding: 1rem;
        border: none;
        width: 100%;
    }
    .nav ul li{
        margin: 7px 0rem;
    }

    /*submenu*/
    .header__subNavegacion{
        padding-left: 2rem;
    }
    .dropdown-menu[data-bs-popper]{
        margin-top: 0;
    }

    /*color*/
    .header__navColor .navbar-nav .nav-link{
        color: black;
        padding-left: 2rem;

    }
    .header__navColor .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: white;
        background: black;
    
    }

    /*BUSCADOR*/
    .header__buscador{
        display: block;
        background: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .form-control{
        border: none;
    }
    .header__buscadorButton{
        background-color: white;
        border: none;
        border-radius: none;
        margin-left: 0;
    }
    .header__buscadorButton:hover{
        background: black;
    }
    .header__buscadorButton:hover i{
        color: white;
    }
    .header__buscadorButton i{
        color: black;
        font-size: 1.6em;
    }
    /*MAIN PRIMERO*/
    .main__primeroButtonR{
        padding-right: 0.5rem;
    }
    .main__primeroButtonL{
        padding-left: 0.5rem;
    }
    .main__primero div button i{
        font-size: 2em;
    }
    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 5rem 0;
    }
    .main__terceroBloque div h2{
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 2rem;
    }
    .main__terceroGaleria{
        margin: 0 1rem;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1.5rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1.5rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    /*MAIN cuarto*/
    .main__cuarto{
        padding: 2rem 0;
    }
    .main__cuartoBoleto{
        width: 32rem;
        padding: 2rem 0;
    }
    .main__cuartoBoleto h2{
        font-size: 1.2rem;
        text-align: center;
    }  
    .main__cuartoBoleto p{
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }
    .main__cuartoInput1{
        width: 55%;
    }
    .main__cuartoInput2{
        width: 15%;
        font-size: 0.7rem;
    }

    /*FOOTER*/
    .footer__pc{
        display: none;
        visibility: visible;
    }

    /*BOOTSTRAP*/
    footer{
        padding-top: 2rem;
    }
    .footer__accordion{
        display: block;
    }
    .footer__accordion button{
        background: rgb(71, 70, 70);
    }

    .footer__accordion ul{
        padding-left: 0;
    }
    .footer__accordion ul li a, .footer__accordion-body a , .footer__accordion-body p{
        color: rgba(0, 0, 0, 0.637);
    }
    .footer__accordion ul li a:hover{
        text-decoration: underline;
    }
    .footer__accordion-item{
        border-left: none;
        border-right: none;
    }


    .footer__accordion-body{
        display: flex;
        flex-direction: column;
        background-color: rgb(223, 223, 223);
    }
    .accordion-button:not(.collapsed){
        background: black;
        color: white;
    }
    /*REDES*/
    .footer__redes{
        padding: 1rem 1.25rem;
    }
    .footer__redes h2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer__redes a i{
        font-size: 1.8rem;
    }
    .footer__titulos{
        font-family: 'Comic Neue';
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }
    .footer__titulos a{
        margin-left: 0.6rem;
        font-size: 1.3rem;
        color: black;
    }
    .footer__titulos a:hover{
        color: rgba(0, 0, 0, 0.61);
    }

    /*BOTON ARREPENTIMIENTO*/
    .footer__boton{
        margin: 0 1.25rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .footer__boton a button{
        font-family: 'Comic Neue';
        border: solid 2px;
        padding: 8px 16px;
        border-color: black;
        
        background: black;
        color: white;
    }

    .footer__boton a button:hover{
        background: rgba(0, 0, 0, 0.548);
        color: white;
    }

    /*FOOTER COPY*/
    .footer__segundo{
        padding-left: 1rem;
        margin: 0;
    }
    .footer__segundo p{
        font-size: 0.95rem;
    }
}

@media (max-width:540px) and (min-width:320px){
    .header__icon, .header__conLupa{
        display: none;
        visibility: visible;
    }
    
    /*HEADER*/
    header{
        padding: 0;
    }
    /*HEADER PRIMERO*/
    .header__primeroPromoCelu1{
        display: none;
        visibility: visible;
    }
    .header__primeroPromoCelu2{
        display: block;
    }
    .header__primero div{
        width: 100%;
    }
    .header__primero{
        margin: 0;
    }
    .header__primero div i{
        font-size: 1.3em
    }
    .header__primero div b{
        font-size: 0.9rem;
    }
    .header__primero div p{
        font-size: 0.9rem;
    }

    /*BARRA DE MENU*/
    .header__segundo{
        display: none;
        visibility: visible;
    }
    .header__segundoMobile{
        display: block;
        visibility: visible;
    }

    /*HEADER PRIMERO BOOTSTRAP*/
    .header__menu{
        width: 60px;
        justify-content: flex-start;
        padding: 0;
    }
    .header__navbar{
        justify-content: space-around;
        flex-wrap: nowrap;
        background: yellow;
    }

    .header__marca{
        width: 100%;
        border: none;
        display: flex;
        justify-content: center;
    }
    .header__marca a{
        width: 160px;
        height: auto;
        border: solid black;
    }
    .header__marca a img, .header__submenuMarca{
        width: 100%;
        height: 70px;
    }

    .header__icons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100px;
    }
    .header__iconSeparacion{
        margin-right: 0.5rem;
    }
    
    .header__icons a i{
        color: black;
        font-size: 1.8em;
    }
    
    .header__icons a i:hover{
        color: white;
    }
    
    /*ICONO DEL MENU DESPLEGABLE*/
    .header__navButton{
        padding: 0;
    }
    .header__navIcon i{
        font-size: 1.8em;
    }
    .header__navButton:focus{
        box-shadow: none;
    }
    /*MENU NO DESPLEGABLE*/
    .header__menuEscondido{
        background-color: rgb(223, 223, 223);
        left: -1000px;
    }
    /*MENU DESPLEGABLE TRANSFORM*/
    .offcanvas.show{
        transform: translateX(1000px);
    }

    /*MENU DESPLEGABLE*/
    .header__tituloMenu{
        background-color: yellow;
        padding: 0 1rem;
        padding-left: 0.8rem;
        border: solid black 1px;
    }
    .header__navegadorMenu{
        padding-left: 0;
        padding-right: 0;
    }
    .header__segundoMobile nav{
        padding: 1rem;
        border: none;
        width: 100%;
        
    }
    .nav ul li{
        margin: 7px 0rem;
    }

    /*submenu*/
    .header__subNavegacion{
        padding-left: 2rem;
    }
    .dropdown-menu[data-bs-popper]{
        margin-top: 0;
    }

    /*color*/
    .header__navColor .navbar-nav .nav-link{
        color: black;
        padding-left: 2rem;

    }
    .header__navColor .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: white;
        background: black;
    
    }

    /*BUSCADOR*/
    .header__buscador{
        display: block;
        background: white;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    .form-control{
        border: none;
    }
    .header__buscadorButton{
        background-color: white;
        border: none;
        border-radius: none;
        margin-left: 0;
        padding: .2rem .5rem;
    }
    .header__buscadorButton:hover{
        background: black;
    }
    .header__buscadorButton:hover i{
        color: white;
    }
    .header__buscadorButton i{
        color: black;
        font-size: 1.4em;
    }

    /*MAIN PRIMERO*/
    .main__primeroButtonR{
        padding-right: 0.3rem;
    }
    .main__primeroButtonL{
        padding-left: 0.3rem;
    }
    .main__primero div button i{
        font-size: 1.5em;
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 2rem;
    }
    .main__segundo img{
        height: 100%;
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 3rem 0;
    }
    .main__terceroBloque div h2{
        text-align: center;
        margin-left: 0;
    }
    .main__terceroGaleriaBloques{
        width: 30%;
    }
    .main__terceroGaleria div a p{
        font-size: 1rem;
    }
    .main__terceroGaleria div h3{
        font-size: 1rem;
    }
    .main__terceroIndumentaria{
        width: 100%;
    }
    .main__terceroBotones{
        display: none;
        visibility: visible;
    }
    .main__tablet{
        display: none;
        visibility: visible;
    }
    .main__movil{
        display: none;
        visibility: visible;
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 1rem 0;
    }
    .main__cuartoBoleto{
        width: 95%;
        background-size: auto;
        padding: 2rem 0;
    }
    .main__cuartoBoleto h2{
        font-size: 1rem;
        text-align: center;
        margin-bottom: 5px;
    } 
    .main__cuartoBoleto p{
        font-size: 0.8rem;
        text-align: center;
        margin-bottom: 5px;
    }
    .main__cuartoInput1{
        width: 50%;
        height: 30px;
        padding-left: 5px;
        font-size: 0.9rem;
    }
    .main__cuartoInput2{
        width: 20%;
        font-size: 0.6rem;
    }

    /*FOOTER*/
    .footer__pc{
        display: none;
        visibility: visible;
    }

    /*BOOTSTRAP*/
    footer{
        padding-top: 2rem;
    }
    .footer__accordion{
        display: block;
    }
    .footer__accordion button{
        background: rgb(71, 70, 70);
    }

    .footer__accordion ul{
        padding-left: 0;
        margin-bottom: 0;
    }
    .footer__accordion ul li a, .footer__accordion-body a , .footer__accordion-body p{
        color: rgba(0, 0, 0, 0.637);
    }
    .footer__accordion ul li a:hover{
        text-decoration: underline;
    }
    .footer__accordion-item{
        border-left: none;
        border-right: none;
    }


    .footer__accordion-body{
        display: flex;
        flex-direction: column;
        background-color: rgb(223, 223, 223);
    }
    .accordion-button:not(.collapsed){
        background: black;
        color: white;
    }
    /*REDES*/
    .footer__redes{
        padding: 1rem 1.25rem;
    }
    .footer__redes h2{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer__titulos{
        font-family: 'Comic Neue';
        font-size: 1rem;
        font-weight: 400;
        color: white;
    }
    .footer__titulos a{
        margin-left: 0.5rem;
        font-size: 1.3rem;
        color: black;
    }
    .footer__redes a i{
        font-size: 1.4em;
    }
    .footer__redesP{
        height: auto;
    }
    .footer__titulos a:hover{
        color: rgba(0, 0, 0, 0.61);
    }

    /*BOTON ARREPENTIMIENTO*/
    .footer__boton{
        margin: 0 1.25rem;
        margin-bottom: 2rem;
        font-size: 1rem;
    }
    .footer__boton a button{
        font-family: 'Comic Neue';
        border: solid 2px;
        padding: 8px 16px;
        border-color: black;
        
        background: black;
        color: white;
    }

    .footer__boton a button:hover{
        background: rgba(0, 0, 0, 0.548);
        color: white;
    }

    /*FOOTER COPY*/
    .footer__segundo{
        margin: 0;
        padding-right: 0;
        padding-left: 1rem;
    }
    .footer__segundo a{
        height: auto;
        margin-right: 10px;
    }
    .footer__segundo a img{
        height: 60px;
    }
    .footer__segundo p{
        font-size: 0.8rem;
    }

}



