*{
    font-family: sans-serif;
}
.main__celular{
    display: none;
    visibility: visible;
}

main{
    padding: 60px 35px;
    background-color: rgb(223, 223, 223);
}
.main__ubicacion{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
select{
    width: 75%;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 20px;
}
main input{
    width: 20px;
    height: 20px;
}
label{
    margin-left: 5px;
    font-size: 20px;
}
/*MAIN bloque 1*/
.main__tiendaBloqueP{
    width: 25%;
}

.main__tienda{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main__tiendaBusqueda{
    margin-bottom: 15px;
}
.main__tiendaBusqueda h2{

    margin-bottom: 15px;
}
.main__tiendaSeleccion{
    display: flex;
    flex-direction: column;
}
.main__tiendaSeleccion div{
    margin-bottom: 10px;
}

/**MAIN Bloque 2*/

.main__tiendaBloqueS{
    width: 75%;
    display: flex;
    flex-direction: column;
    
}
.main__tiendaResultado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: solid rgb(161, 161, 161) 1px;
    width: 100%;
}

.destacado{
    opacity: .65;
    margin-left: 5px;
}

.main__tiendaRopa{
    padding-top: 30px;
    background-color: white;
    display: grid;
    grid-template-areas: "uno dos tres"
                        "cuatro cinco seis"
                        "siete ocho nueve"
                        "diez once doce";
    justify-items: center;
}
.grid__producto1{
    grid-area: uno;
}
.grid__producto2{
    grid-area: dos;
}
.grid__producto3{
    grid-area: tres;
}
.grid__producto4{
    grid-area: cuatro;
}
.grid__producto5{
    grid-area: cinco;
}
.grid__producto6{
    grid-area: seis;
}
.grid__producto7{
    grid-area: siete;
}
.grid__producto8{
    grid-area: ocho;
}
.grid__producto9{
    grid-area: nueve;
}
.grid__producto10{
    grid-area: diez;
}
.grid__producto11{
    grid-area: once;
}
.grid__producto12{
    grid-area: doce;
}


.main__tiendaRopa div{
    margin-bottom: 3rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__tiendaRopa div a{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}

.main__tiendaProductos{
    width: 100%;
    margin-bottom: 15px;
}
/*MAIN paginas*/

.main__tiendaPaginas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

span a, span p{
    font-size: 20px;
}
.main__tiendaPaginasNumero{
    margin: 0 1rem;
}

.main__tiendaPaginaActual a{
    padding: 5px;
    background: none;
    border: solid black 1px;
    border-radius: 50%;
}
.main__tiendaPaginas span a , .main__tiendaPaginas span p{
    color: #212529;
}

.main__tiendaPaginas span a:hover{
    font-weight: 700;
}


@media (max-width:1000px) and (min-width:721px){

    .main__tiendaBloqueP, .main__tiendaPaginas{
        display: none;
        visibility: visibles;
    }
    
    main{
        padding: 1rem 0;
    }
    .main__celular{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem;
        width: 100%;
    }
    .main__ubicacion{
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .main__filtros{
        margin: 1rem 0;
    }
    .main__filtros select{
        width: 35%;
        margin-bottom: 0;
    }
    .main__filtros button{
        width: 35%;
        padding: 5px;
        border: solid 1px transparent;
        border-radius: .1875rem;
        background: #121212;
        font-weight: 800;
        color: white;
        text-align: center;
    }
    .main__filtros button:hover{
        background: yellow;
        color: black;
    }

    .main__tiendaBusqueda{
        padding-top: 1rem;
    }
    
    main p, main h2, main a{
        font-size: 0.8rem;
    }
    
    .main__tiendaBloqueS{
        width: 100%;
    }
    .main__tiendaResultado{
        padding-bottom: 0.5rem;
    }
    .main__tiendaRopa{
        padding-top: 30px;
        background-color: white;
        display: grid;
        grid-template-areas: "uno dos tres"
                            "cuatro cinco seis"
                            "siete ocho nueve" 
                            "diez once doce";
        justify-items: center;
    }
    .main__tiendaRopa div{
        margin-bottom: 2rem;
        width: 75%;
        justify-content: center;
    }

    .main__paginas{
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    .main__paginas button{
        margin: 0 1.5rem;
        padding: 5px;
        background: none;
        border: solid black 1px;
        border-radius: 50%;
    }

    .main__paginas a{
        font-size: 1.2rem;
    }
    .main__destacado{
        opacity: .65;
    }
    .main__paginas a:hover{
        font-weight: 500;
        font-size: 1.3rem;
    }

}


@media (max-width:720px) and (min-width:541px){
    .main__tiendaBloqueP, .main__tiendaPaginas{
        display: none;
        visibility: visibles;
    }
    
    main{
        padding: 1rem 0;
    }
    .main__celular{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem;
        width: 100%;
    }
    .main__ubicacion{
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }

    .main__filtros{
        margin: 1rem 0;
    }
    .main__filtros select{
        width: 45%;
        margin-bottom: 0;
    }
    .main__filtros button{
        width: 45%;
        padding: 5px;
        border: solid 1px transparent;
        border-radius: .1875rem;
        background: #121212;
        font-weight: 800;
        color: white;
        text-align: center;
    }
    .main__filtros button:hover{
        background: yellow;
        color: black;
    }

    .main__tiendaBusqueda{
        padding-top: 1rem;
    }
    
    main p, main h2, main a{
        font-size: 0.8rem;
    }
    
    .main__tiendaBloqueS{
        width: 100%;
    }
    .main__tiendaResultado{
        padding-bottom: 0.5rem;
    }
    .main__tiendaRopa{
        padding-top: 30px;
        background-color: white;
        display: grid;
        grid-template-areas: "uno dos tres"
                            "cuatro cinco seis"
                            "siete ocho nueve" 
                            "diez once doce";
        justify-items: center;
    }
    .main__tiendaRopa div{
        margin-bottom: 2rem;
        width: 75%;
        justify-content: center;
    }

    .main__paginas{
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    .main__paginas button{
        margin: 0 1.5rem;
        padding: 5px;
        background: none;
        border: solid black 1px;
        border-radius: 50%;
    }

    .main__paginas a{
        font-size: 1.2rem;
    }
    .main__destacado{
        opacity: .65;
    }
    .main__paginas a:hover{
        font-weight: 500;
        font-size: 1.3rem;
    }
}


@media (max-width:540px) and (min-width:320px){
    .main__tiendaBloqueP, .main__tiendaPaginas{
        display: none;
        visibility: visibles;
    }

    main{
        padding: 1rem 0;
    }

    .main__ubicacion{
        margin-left: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 2rem;
    }
    
    .main__celular{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0.5rem;
    }
    
    .main__filtros{
        margin: 1rem 0;
    }

    .main__filtros select{
        width: 45%;
        margin-bottom: 0;
    }
    .main__filtros button{
        width: 45%;
        padding: 5px;
        border: solid 1px transparent;
        border-radius: .1875rem;
        background: #121212;
        font-weight: 700;
        color: white;
        text-align: center;
    }
    .main__filtros button:hover{
        background: yellow;
        color: black;
    }

    .main__tiendaBusqueda{
        padding-top: 1rem;
    }
    
    main p, main h2, main a{
        font-size: 0.8rem;
    }
    
    .main__tiendaBloqueS{
        width: 100%;
    }
    .main__tiendaResultado{
        padding-bottom: 0.5rem;
    }
    .main__tiendaRopa{
        padding-top: 30px;
        background-color: white;
        display: grid;
        grid-template-areas: "uno dos"
                            "cuatro tres"
                            "cinco seis"
                            "siete ocho" 
                            "nueve diez"
                            "once doce";
        justify-items: center;
    }
    .main__tiendaRopa div{
        margin-bottom: 2rem;
        width: 80%;
        justify-content: center;
    }

    .main__paginas{
        justify-content: center;
        align-items: center;
        margin: 1rem 0;
    }

    .main__paginas button{
        margin: 0 1.5rem;
        padding: 5px;
        background: none;
        border: solid black 1px;
        border-radius: 50%;
    }

    .main__paginas a{
        font-size: 1rem;
    }
    .main__destacado{
        opacity: .65;
    }
    .main__paginas a:hover{
        font-weight: 500;
        font-size: 1.1rem;
    }
}