/*FOOTER*/

footer{
    border-top: solid;
    border-color: black;
    background-color: $color-principalfooter;
    padding-top: 2.5rem;
    ul{
        padding: 0;
        li{
            a:hover,a::selection{
                text-decoration: underline;
                text-decoration-color: white;
                color: black;
            }
        }
    }
    a,p{
        color: black;
        font-size: 1rem;
        height: 2rem;
    }
    h3{
        font-family: 'Comic Neue';
        margin-bottom: 0.938rem;
        color: white;
    }
}

/*FOOTER primero*/
.footer__pc{
    .footer__primero{
        display: grid;
        padding: 0 2rem;
        grid-template-areas: "uno dos tres cuatro"
                            "uno dos tres cinco";
        grid-template-columns: auto auto auto 25%;
        .footer{
            &__navegacion{
                display: flex;
                flex-direction: column;
            }
            &__nav1{
                grid-area: uno;
            }
            &__nav2{
                grid-area:dos;
            }
            &__atencion{
                grid-area: tres;
                display: flex;
                flex-direction: column;
                height: auto;
                a:hover{
                    color: black;
                }
            }
            &__redes{
                grid-area: cuatro;
                a{
                    &:hover{
                        color: rgba(0, 0, 0, 0.733);
                    }
                    i{
                        font-size: 2.5em;
                    }
                }
            }
            &__seguridad{
                grid-area: cinco;
            }
        }
    }
    /*FOOTER segundo*/
    .footer__segundo{
        @include flex(row,flex-start);
        margin-top: 2.5rem;
        padding: 0.938rem 1.875rem;
        background: $color-principalfooterSegundo;
        a{
            width: 3.125rem;
            margin-right: 1.25rem;
            height: auto;
            img{
                width: auto;
                height: 4.375rem;
            }
        }
        p{
            height: auto;
        }

    }
}