$color-principalheader:yellow;
$color-principalmain:rgb(223, 223, 223);
$color-principalmainProductos:#393c3e;
$color-principalfooter:rgb(71, 70, 70);
$color-principalfooterSegundo:rgb(223, 223, 223);