main{
    padding: 3.75rem 2.188rem;
    background-color: rgb(223, 223, 223);
    
    .main__ubicacion{
        display: flex;
        flex-direction: row;
        margin-bottom: 3.125rem;
    }
    .main__tienda{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .main__tiendaBloqueP{
            width: 14.375rem;
            select{
                width: 75%;
                padding: 0.313rem;
                font-size: 0.938rem;
                margin-bottom: 1.25rem;
            }
            .main__tiendaBusqueda{
                margin-bottom: 0.938rem;
                h2{
                    font-size: 1.5rem;
                    font-family: 'Roboto Slab', serif;
                    margin-bottom: 0;
                }
                .main__tiendaSeleccion{
                    display: flex;
                    flex-direction: column;
                    overflow-y: scroll;
                    padding: 1rem;
                    padding-left: 0;
                    border-bottom: 0.063rem solid rgba(0, 0, 0, 0.384);
                    height: 12.5rem;
                    div{
                        margin-bottom: 0.625rem;
                        input{
                            width: 1.25rem;
                            height: 1.25rem;
                        }
                        label{
                            margin-left: 0.313rem;
                            font-size: 1.25rem;
                        }
                    }
                }
            }
        }
        .main__tiendaBloqueS{
            width: 75%;
            display: flex;
            flex-direction: column;
            .main__celular{
                display: none;
                visibility: visible;
            }
            .main__tiendaResultado{
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding-bottom: 1.25rem;
                border-bottom: solid rgb(161, 161, 161) 0.063rem;
                width: 100%;
                p:last-child{
                    opacity: .65;
                    margin-left: 0.313rem;
                }
            }
            .main__tiendaRopa{
                padding-top: 1.875rem;
                background-color: white;
                display: grid;
                grid-template-areas: "uno dos tres"
                                    "cuatro cinco seis"
                                    "siete ocho nueve"
                                    "diez once doce";
                justify-items: center;
                div{
                    margin-bottom: 3rem;
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        padding-bottom: 0.313rem;
                        img{
                            width: 100%;
                            margin-bottom: 0.938rem;
                        }
                        p{
                            text-align: center;
                        }
                    }
                    h2{
                        font-size: 1.8rem;
                    }
                }
                .grid__producto1{
                    grid-area: uno;
                }
                .grid__producto2{
                    grid-area: dos;
                }
                .grid__producto3{
                    grid-area: tres;
                }
                .grid__producto4{
                    grid-area: cuatro;
                }
                .grid__producto5{
                    grid-area: cinco;
                }
                .grid__producto6{
                    grid-area: seis;
                }
                .grid__producto7{
                    grid-area: siete;
                }
                .grid__producto8{
                    grid-area: ocho;
                }
                .grid__producto9{
                    grid-area: nueve;
                }
                .grid__producto10{
                    grid-area: diez;
                }
                .grid__producto11{
                    grid-area: once;
                }
                .grid__producto12{
                    grid-area: doce;
                }
            }
            .main__tiendaPaginas{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                padding-top: 0.938rem;
                span{
                    a, p{
                        font-size: 1.25rem;
                    }
                }
                .main__tiendaPaginasNumero{
                    margin: 0 1rem;
                }
                .main__tiendaPaginaActual{
                    a{
                        padding: 0.313rem;
                        background: none;
                        border: solid black 0.063rem;
                        border-radius: 50%;
                        &:hover{
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) and (min-width:721px){
    
    main{
        padding: 2rem 0;
        .main__ubicacion{
            margin-left: 1rem;
        }
        .main__tienda{
            .main__tiendaBloqueP{
                width: 15.625rem;
                margin-right: 0.313rem;
                margin-left: 1rem;
                select{
                    width: 10.313rem;
                    margin-bottom: 0;
                }
                .main__tiendaBusqueda{
                    padding-top: 1rem;
                    margin-bottom: 0;
                    h2{
                        font-size: 1.2rem;
                    }
                    .main__tiendaSeleccion{
                        height: 9.375rem;
                        div{
                            margin-bottom: 0.5rem;
                            label{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .main__tiendaBloqueS{
                width: 100%;
                padding-right: 1rem;
                .main__tiendaResultado{
                    padding-bottom: 0.5rem;
                }
                .main__tiendaRopa{
                    padding-top: 1rem;
                    background-color: white;
                    div{
                        margin-bottom: 2rem;
                        width: 75%;
                        justify-content: center;
                        a{
                            p{
                                font-size: 0.9rem;
                            }
                        }
                        h2{
                            font-size: 1.2rem;
                        }
                    }
                }
                .main__tiendaPaginas{
                    .main__tiendaPaginasNumero{
                        margin: 0 0.5rem;
                    }
                }
            }
        }
    }
}


@media (max-width:720px) and (min-width:541px){

    main{
        padding: 1rem 0;
        .main__ubicacion{
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
        }
        .main__tienda{
            .main__tiendaBloqueP{
                display: none;
            }
            .main__tiendaBloqueS{
                width: 100%;
                .main__tiendaPaginas{
                    display: none;
                }
                .main__tiendaResultado{
                    padding-bottom: 1rem;
                }
                .main__celular{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 1rem;
                    width: 100%;
                }
                .main__filtros{
                    margin: 1rem 0;
                    select{
                        width: 35%;
                        margin-bottom: 0;
                    }
                    .filtro__button{
                        width: 35%;
                        margin-bottom: 0;
                        padding: 0;
                        background: none;
                        .header__menu{
                            padding: 0;
                            width: 100%;
                            height: auto;
                            .filtro__buttonIn{
                                width: 100%;
                                padding: 0.5rem 0;
                                display: flex;
                                justify-content: center;
                                background: black;
                                p{
                                    font-size: 0.8rem;
                                    font-weight: 800;
                                    color: white;
                                }
                                &:hover{
                                    background: yellow;
                                    border: 0.063rem solid black;
                                    & p{
                                        color:black;
                                    }
                                }
                                &:focus{
                                    box-shadow: 0 0 0 0;
                                }
                            }
                            .main__filtroEscondido{
                                width: 100%;
                                transform: none;
                                &.show{
                                    left: 0;
                                    transform: none;
                                }
                                .filtro__menuTitulo{
                                    padding-left: 0;
                                    background-color: black;
                                    border: 0.125rem solid yellow;
                                    padding: 0;
                                    padding-right: 1rem;
                                    div{
                                        border: 1px solid black;
                                        background: yellow;
                                        img{
                                            width: 15.625rem;
                                        }
                                    }
                                    button{
                                        opacity: 100%;
                                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                                    }
                                }
                                .filtro__seleccionScroll{
                                    overflow-y: scroll;
                                    height: 100%;
                                    background: rgb(223, 223, 223);
                                    div{
                                        background: transparent;
                                        h2{
                                            button{
                                                font-family: 'Roboto Slab', serif;
                                                font-weight: 700;
                                                font-size: 1.4rem;
                                                background: transparent;
                                                &:focus{
                                                    box-shadow: none;
                                                }
                                                &:not(.collapsed){
                                                    background: black;
                                                    color: white;
                                                    &::after{
                                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                                                    }
                                                }
                                            }
                                        }
                                        div{
                                            .accordion-body{
                                                display: flex;
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                                background: white;
                                                div{
                                                    width: 50%;
                                                }
                                            }
                                        }
                                    }
                                }
                                .filtro__menuAbajo{
                                    padding: 3rem 0;
                                    background: rgba(255, 255, 255, 0.678);
                                    box-shadow: 0 0.625rem 0px 0px rgba(0, 0, 0, 0.219),0 0.188rem 0.875rem 0.125rem rgba(0, 0, 0, 0.219),0 0.313rem 0.313rem -0.188rem rgba(0,0,0,.2);
                                    div{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        position: fixed;
                                        bottom: 0;
                                        width: 100%;
                                        padding: 1.5rem 0;
                                        .filtro__restablecer{
                                            padding: 0.5rem 0;
                                            width: 11.25rem;
                                            border: none;
                                            color: black;
                                            background-color: yellow;
                                            border-radius: 0.188rem;
                                            &:hover{
                                                opacity: .75;
                                            }
                                        }
                                        .filtro__aplicar{
                                            background: none;
                                            background-color: black;
                                            width: 11.25rem;
                                            height: auto;
                                            opacity: 100%;
                                            p{
                                                color: white;
                                                font-size: 1rem;
                                                width: 100%;
                                                padding: 0.313rem;
                                                height: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .main__tiendaRopa{
                    div{
                        margin-bottom: 2rem;
                        width: 75%;
                        justify-content: center;
                        a{
                            p{
                                font-size: 0.8rem;
                            }
                        }
                        h2{
                            font-size: 1.1rem;
                        }
                    }
                }
                .main__paginas{
                    justify-content: center;
                    align-items: center;
                    margin: 1rem 0;
                    .main__after-next{
                        font-size: 1.2rem;
                        &:first-child{
                            opacity: .65;
                        }
                        &:hover{
                            font-weight: 500;
                            font-size: 1.3rem;
                        }
                        &:first-child:hover{
                            font-size: 1.2rem;
                        }
                    }
                    button{
                        margin: 0 1.5rem;
                        padding: 0.313rem;
                        background: none;
                        border: solid black 0.063rem;
                        border-radius: 50%;
                        background: yellow;
                        
                        a{
                            font-size: 1.2rem;
                        }
                        
                    }
                }
            }
        }
    }

}


@media (max-width:540px) and (min-width:320px){
    main{
        padding: 1rem 0;
        .main__ubicacion{
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
            a, p{
                font-size: 0.9rem;
            }
        }
        .main__tienda{
            .main__tiendaBloqueP{
                display: none;
            }
            .main__tiendaBloqueS{
                width: 100%;
                .main__tiendaPaginas{
                    display: none;
                }
                .main__tiendaResultado{
                    padding-bottom: 1rem;
                }
                .main__celular{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin: 1rem;
                    width: 100%;
                }
                .main__filtros{
                    margin: 1rem 0;
                    select{
                        font-size: 0.9rem;
                        width: 35%;
                        margin-bottom: 0;
                    }
                    .filtro__button{
                        width: 35%;
                        margin-bottom: 0;
                        padding: 0;
                        background: none;
                        .header__menu{
                            padding: 0;
                            width: 100%;
                            height: auto;
                            .filtro__buttonIn{
                                width: 100%;
                                padding: 0.5rem 0;
                                display: flex;
                                justify-content: center;
                                background: black;
                                p{
                                    font-size: 0.8rem;
                                    font-weight: 800;
                                    color: white;
                                }
                                &:hover{
                                    background: yellow;
                                    border: 0.063rem solid black;
                                    & p{
                                        color:black;
                                    }
                                }
                                &:focus{
                                    box-shadow: 0 0 0 0;
                                }
                            }
                            .main__filtroEscondido{
                                width: 100%;
                                transform: none;
                                &.show{
                                    left: 0;
                                    transform: none;
                                }
                                .filtro__menuTitulo{
                                    padding-left: 0;
                                    background-color: black;
                                    border: 0.125rem solid yellow;
                                    padding: 0;
                                    padding-right: 1rem;
                                    div{
                                        border: 0.063rem solid black;
                                        background: yellow;
                                        img{
                                            width: 12.5rem;
                                        }
                                    }
                                    button{
                                        opacity: 100%;
                                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                                    }
                                }
                                .filtro__seleccionScroll{
                                    overflow-y: scroll;
                                    height: 100%;
                                    background: rgb(223, 223, 223);
                                    div{
                                        background: transparent;
                                        h2{
                                            button{
                                                font-family: 'Roboto Slab', serif;
                                                font-weight: 700;
                                                font-size: 1rem;
                                                background: transparent;
                                                &:focus{
                                                    box-shadow: none;
                                                }
                                                &:not(.collapsed){
                                                    background: black;
                                                    color: white;
                                                    &::after{
                                                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
                                                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                                                    }
                                                }
                                            }
                                        }
                                        div{
                                            .accordion-body{
                                                display: flex;
                                                flex-direction: row;
                                                flex-wrap: wrap;
                                                background: white;
                                                padding: 1rem 0 1rem 1rem;
                                                div{
                                                    width: 50%;
                                                    label{
                                                        font-size: 0.9rem;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                                .filtro__menuAbajo{
                                    padding: 2.5rem 0;
                                    background: rgba(255, 255, 255, 0.678);
                                    box-shadow: 0 0.625rem 0px 0px rgba(0, 0, 0, 0.219),0 0.188rem 0.875rem 0.125rem rgba(0, 0, 0, 0.219),0 0.313rem 0.313rem -0.188rem rgba(0,0,0,.2);
                                    div{
                                        display: flex;
                                        flex-direction: row;
                                        justify-content: space-around;
                                        position: fixed;
                                        bottom: 0;
                                        width: 100%;
                                        padding: 1rem 0;
                                        .filtro__restablecer{
                                            padding: 0;
                                            width: 9.3rem;
                                            border: none;
                                            color: black;
                                            background-color: yellow;
                                            border-radius: 0.188rem;
                                            &:hover{
                                                opacity: .75;
                                            }
                                        }
                                        .filtro__aplicar{
                                            padding: 0;
                                            background: none;
                                            background-color: black;
                                            width: 9.3rem;
                                            height: auto;
                                            opacity: 100%;
                                            p{
                                                color: white;
                                                font-size: 1rem;
                                                width: 100%;
                                                padding: 0.313rem;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .main__tiendaRopa{
                    div{
                        margin-bottom: 2rem;
                        width: 75%;
                        justify-content: center;
                        a{
                            p{
                                font-size: 0.8rem;
                            }
                        }
                        h2{
                            font-size: 1.1rem;
                        }
                    }
                }
                .main__paginas{
                    justify-content: center;
                    align-items: center;
                    margin: 1rem 0;
                    .main__after-next{
                        font-size: 1rem;
                        &:first-child{
                            opacity: .65;
                        }
                        &:last-child:hover{
                            font-weight: 500;
                            font-size: 1.1rem;
                        }
                    }
                    button{
                        margin: 0 1.5rem;
                        padding: 0.313rem;
                        background: none;
                        border: solid black 0.063rem;
                        border-radius: 50%;
                        background: yellow;
                        a{
                            font-size: 1.1rem;
                        }
                        
                    }
                }
            }
        }
    }

}