@import 'variable';
@import 'header';
@import 'footer';

*{
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: sans-serif;
}

body{
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: black;
        }
    }
    p{
        margin-bottom: 0;
    }
}

/*COSAS CON DISPLAY NONE*/
.header__primeroPromoCelu2{
    display: none;
}
.footer__accordion{
    display: none;
}
.header__segundoMobile{
    display: none;
}

/*MAIN*/

/*MAIN primero*/
.main__primero{
    background-color: $color-principalmain;
    div{
        div{
            .main__primeroButtonL{
                justify-content: flex-start;
                padding-left: 1rem;
            }
            .main__primeroButtonR{
                justify-content: flex-end;
                padding-right: 1rem;
            }
        }
        .main__primeroIndicador{
            position: relative;
            @include flex(row,center);
            margin-bottom: 0;
            & [data-bs-target]{
                @include ancho_alto(0.688rem,0.688rem);
                border-radius: 50%;
                text-indent: 0;
                background-color: black;
            }
            .active{
                @include ancho_alto(0.813rem, 0.813rem);
            }
        }
    }

}



/*MAIN segundo*/
.main__segundo{
    background-color: $color-principalmain;
    padding-top: 2rem;
    img{
        width: 100%;
    }
}

/*MAIN tercero*/

.main__tercero{
    padding: 6.25rem 0;
    background-color: $color-principalmain;
    .main__terceroTablet, .main__terceroPhone{
        display: none;
    }
    .main__terceroPC{
        &:first-child{
            margin-bottom: 3.125rem;
        }
        h2{
            margin-bottom: 2.188rem;
            margin-left: 3.125rem;
            font-family: 'Bebas Neue', cursive;
            color: black;
        }
        #galeria__masVendidos, #galeria__lanzamientos{
            background: $color-principalmain;
            .carousel-item-next, .carousel-item-prev, .carousel-item.active{
                padding: 0 3.125rem;
                @include ancho_alto(100%,auto);
                @include flex(row,space-around);
                flex-wrap: nowrap;
                background: $color-principalmain;
            }
            .index__galeria{
                @include flex(row,flex-start);
                .carousel-item.active, .index__productos{
                    div{
                        background: white;
                        max-height: 100%;
                        width: 100%;
                        border: 1px solid gray;
                        padding: 0.625rem 0.313rem;
                        margin-right: 1rem;
                        @include flex(column,flex-start);
                        a{
                            position: relative;
                            @include flex(column,center);
                            width: 100%;
                            img{
                                @include ancho_alto(100%,100%);
                                margin-bottom: 0.5rem;
                            }
                            p{
                                color: $color-principalmainProductos;
                                font-size: 1rem;
                                text-align: center;
                            }
                        }
                        h3{
                            margin-bottom: 0;
                            margin-top: 0.5rem;
                            font-size: 1.5rem;
                            font-weight: 600;
                        }
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
                button{
                    width: 3.125rem;
                    color: rgba(0, 0, 0, 0.562);
                    background: $color-principalmain;
                    opacity: 1;
                    &:hover{
                        color: black;
                        opacity: 1;
                    }
                    &:focus{
                        color: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

/*MAIN cuarto*/
.main__cuarto{
    @include flex(row,center);
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    background-image: url(../recursos/madera.png);
    background-position: center;
    .main__cuartoBoleto {
        width: 56.25rem;
        @include flex(column,center);
        border-color: black;
        border-top: solid;
        border-bottom: solid;
        border-radius: 1.25rem;

        background-image: url(../recursos/boleto.png);
        background-position: center;

        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
        h2{
            font-size: 1.875;
            margin-bottom: 0.625rem;
            text-align: center;
            color: black;
        }
        p{
            font-size: 1.25rem;
            margin-bottom: 1.875rem;
            color: black;
        }
        div{
            @include flex(row,center);
            align-items: initial;
            width: 100%;
            .main__cuartoInput1{
                @include ancho_alto(45%,2.5rem);
                padding-left: 0.938rem;
                border: 0.063rem solid black;
                border-radius: 0.188rem 0 0 0.188rem;
            }
            .main__cuartoInput2{
                width: 15%;
                font-weight: 600;
                border: none;
                background: $color-principalmain;
                color: rgba(0, 0, 0, 0.767);
                border: 0.063rem solid black;
                border-radius: 0 0.188rem 0.188rem 0;
            }
        }
    }
}

/*MOBILE*/
@media (max-width:1000px) and (min-width:721px){
    /*HEADER PRIMERO*/
    .header__primero{
        margin: 0;
        div{
            width: 100%;
            i{
                font-size: 1.6em
            }
            b,p{
                font-size: 1rem;
            }
        }
    }

    /*HEADER segundo*/
    .header{
        &__segundoPC{
            padding: 1.5rem 1rem;
            .header{
                &__logo{
                    width: 209px;
                    margin-right: 0.5rem;
                    a{
                        img{
                            height: 100px;
                        }
                    }
                }
                &__buscador{
                    @include ancho_alto(45%, 2.5rem);
                    button{
                        margin: 0;
                        i{
                            font-size: 1.6em;
                        }
                    }
                }
                &__iconos{
                    a{
                        margin-right: 0.4rem;
                    }
                }
            }
        }
        &__submenuPC{
            top: 15.5rem;
        }
    }

    /*MAIN PRIMERO*/
    .main__primero{
        &ButtonR{
            padding-right: 0.5rem;
        }
        &ButtonL{
            padding-left: 0.5rem;
        }
        div{
            button{
                i{
                    font-size: 2.5em;
                }
            }
        }
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 1rem;
        img{
            height: 80%;
        }
    }

    /*MAIN TERCERO*/
    .main__tercero{
        padding: 3.125rem 0;
        h2{
            font-size: 2.2rem;
        }
        p{
            display: flex;
            align-items: center;
            height: 3.125rem;
        }
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 3rem 2rem;
        .main__cuartoBoleto{
            width: 40rem;
            h2{
                font-size: 1.3rem;
                text-align: center;
            }
            p{
                font-size: 1rem;
                margin-bottom: 0.625;
                text-align: center;
            }
            div{
                .main__cuartoInput1{
                    @include ancho_alto(50%, 2.188rem);
                    font-size: 1rem;
                }
                .main__cuartoInput2{
                    width: 15%;
                    font-size: 0.9rem;
                }
            }
        }
    }

    /*FOOTER*/

    footer{ 
        a, p, h3{
            font-size: 0.95rem;
        }
    }

    .footer__pc{
        .footer__primero{
            display: grid;
            padding: 0 1rem;
            grid-template-areas: "uno dos tres"
                                "cinco nada cuatro";
            grid-template-columns: 31% 31% 37%;
            .footer{
                &__redes{
                    grid-area: cuatro;
                    margin-top: 1rem;
                }
                &__seguridad{
                    grid-area: cinco;
                    margin-top: 1rem;
                }
            }
        }
        .footer__segundo{
            padding-left: 1rem;
        }
    }
}


@media (max-width:720px) and (min-width:541px){

    /*HEADER*/

    /*HEADER PRIMERO*/
    .header__primero{
        margin: 0;
        div{
            width: 100%;
            i{
                font-size: 1.3em
            }
            b, p{
                font-size: 0.9rem;
            }
        }
    }

    /*HEADER SEGUNDOMOBILE*/
    .header__segundo{
        display: none;
    }
    .header__segundoMobile{
        display: block;
        .header__completo{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0;
            .header__completoSuperior{
                width: 100%;
                flex-wrap: nowrap;
                padding: 1rem;
                button{
                    padding: 0;
                    div{
                        i{
                            font-size: 2.2em;
                        }
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
                .header__menuEscondido{
                    background-color: rgb(223, 223, 223);
                    left: -62.5rem;
                    .header__tituloMenu{
                        background-color: $color-principalheader;
                        padding: 0 1rem;
                        padding-left: 0.8rem;
                        border: solid black 0.063rem;
                        div{
                            img{
                                @include ancho_alto(100%, 5.625rem);
                            }
                        }
                    }
                    .header__navegadorMenu{
                        background: transparent;
                        border: none;
                        padding: 1rem 0;
                        ul{
                            border-radius: 0;
                            border: none;
                            li{
                                width: 100%;
                                background: transparent;
                                padding: 0;
                                border: none;
                                margin-bottom: 0.5rem;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                button{
                                    border: none;
                                    background: transparent;
                                }
                                .header__opcionesMenu{
                                    display: flex;
                                    width: 100%;
                                    color: black;
                                    padding: 1rem 0rem 1rem 2rem;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    &::after{
                                        margin-right: 1rem;
                                        align-self: center;
                                        transition: transform .2s ease-in-out;
                                    }
                                    &:focus{
                                        background-color: black;
                                        color: white;
                                    }
                                    &:hover{
                                        background-color: black;
                                        color: white;
                                    }
                                }
                                .dropdown-menu[data-bs-popper]{
                                    margin-top: 0;
                                }
                                .show:not(.collapsed)::after{
                                    transform: rotate(-180deg);
                                }
                                .header__subNavegacion{
                                    padding: 0.5rem 0rem 0.5rem 2rem;
                                }
                            }
                        }
                    }
                }
                .offcanvas.show{
                    transform: translateX(62.5rem);
                }
                .header__logo{
                    width: 100%;
                    border: none;
                    display: flex;
                    justify-content: center;
                    a{
                        @include ancho_alto(12.688rem, auto);
                        border: solid black;
                        img{
                            width: 100%;
                            height: 5.625rem;
                        }
                    }
                }
                .header__iconos{
                    a{
                        margin-right: 0.5rem;
                    }
                    i{
                        font-size: 2em;
                    }
                    .header__iconosShop{
                        position: relative;
                        div{
                            max-width: 23.125rem;
                            span{
                                i{
                                    margin-right: 0.35rem;
                                }
                            }
                            div{
                                p{
                                    padding: 2.5rem 1rem;
                                    text-align: center;
                                }
                            }
                            
                        }
                        .dropdown-menu[data-bs-popper]{
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    /*BUSCADOR*/
    .header__buscador{
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 0;
        form{
            button{
                display: flex;
                align-content: center;
                background-color: white;
                border: none;
                i{
                    color: black;
                    font-size: 1.6em;
                }
                &::selection{
                    box-shadow: none;
                    border: none;
                }
                &:hover{
                    background-color: black;
                    border: none;
                }
                &:hover i{
                    color: white;
                }
            }
            input{
                border: none;
                border-radius: 0%;
            }
        }
    }

    /*MAIN PRIMERO*/
    #carouselExampleIndicators{
        .carousel-inner{
            .main__primeroButtonR{
                padding-right: 0.5rem;
                i{
                    font-size: 2em;
                }
            }
            .main__primeroButtonL{
                padding-left: 0.5rem;
                i{
                    font-size: 2em;
                }
            }
        }
        .main__primeroIndicador{
            button{
                @include ancho_alto(0.563rem, 0.563rem);
            }
            .active{
                @include ancho_alto(0.688rem, 0.688rem);
            }
        }
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 0.5rem;
        img{
            height: 100%;
        }
    }
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 2.5rem 0;
        padding-bottom: 0;
        background-color: $color-principalmain;
        .main__terceroPC, .main__terceroPhone{
            display: none;
        }
        .main__terceroTablet{
            display: block;
            padding-bottom: 2.5rem;
            h2{
                font-size: 2rem;
                margin-bottom: 2rem;
                margin-left: 3.125rem;
                font-family: 'Bebas Neue', cursive;
                color: black;
            }
            #galeria__masVendidosTablet, #galeria__lanzamientosTablet{
                background: $color-principalmain;
                .carousel-item-next, .carousel-item-prev, .carousel-item.active{
                    padding: 0 3.125rem;
                    @include ancho_alto(100%,auto);
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    background: $color-principalmain;
                }
                .index__galeria{
                    display: flex;
                    flex-direction: row;
                    .carousel-item.active, .index__productos{
                        div{
                            background: white;
                            height: auto;
                            width: 100%;
                            border: 0.063rem solid gray;
                            padding: 0.625rem 0.313rem;
                            margin-right: 1rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            a{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                img{
                                    width: 100%;
                                    margin-bottom: 0.5rem;
                                    height: auto;
                                }
                                p{
                                    color: $color-principalmainProductos;
                                    display: flex;
                                    align-items: center;
                                    font-size: 0.9rem;
                                    height: 3.125rem;
                                    text-align: center;
                                }
                            }
                            h3{
                                margin-bottom: 0;
                                font-size: 1.2rem;
                                font-weight: 600;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                    button{
                        width: 50px;
                        color: rgba(0, 0, 0, 0.562);
                        background: $color-principalmain;
                        opacity: 1;
                        &:hover{
                            color: black;
                            opacity: 1;
                        }
                        &:focus{
                            color: none;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    /*MAIN cuarto*/
    .main__cuarto{
        padding: 2rem 1rem;
        .main__cuartoBoleto{
            width: 32rem;
            padding: 2rem 0;
            h2{
                font-size: 1.2rem;
                text-align: center;
            }
            p{
                font-size: 1rem;
                margin-bottom: 1rem;
                text-align: center;
            }
            div{
                .main__cuartoInput1{
                    width: 55%;
                }
                .main__cuartoInput2{
                    width: 15%;
                    font-size: 0.7rem;
                }
            }
        }
    }

    /*FOOTER*/

    footer{
        padding-top: 2rem;
        .footer__pc{
            display: none;
            visibility: visible;
        }
        .footer__accordion{
            display: block;
            .footer__accordion-item{
                border-left: none;
                border-right: none;
                button{
                    background: $color-principalfooter;
                    color: white;
                    &:hover{
                        background: black;
                    }
                    &::after{
                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                    }
                }
                ul{
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        height: 2rem;
                        a{
                            color: rgba(0, 0, 0, 0.637);
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .footer__accordion-body{
                    display: flex;
                    flex-direction: column;
                    background-color: rgb(223, 223, 223);
                    p, a{
                        color: rgba(0, 0, 0, 0.637);
                    }
                    a:hover{
                        color: black;
                    }
                }
                .accordion-button:not(.collapsed){
                    background: black;
                    color: white;
                    &::after{
                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                    }
                }
            }
        }
        .footer__redes{
            padding: 1rem 1.25rem;
            h3{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Comic Neue';
                font-size: 1rem;
                font-weight: 400;
                color: white;
                a{
                    margin-left: 0.6rem;
                    font-size: 1.3rem;
                    color: black;
                    &:hover{
                        color: rgba(0, 0, 0, 0.61);
                    }
                    i{
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .footer__boton{
            margin: 0 1.25rem;
            margin-bottom: 2rem;
            font-size: 1rem;
            a{
                button{
                    font-family: 'Comic Neue';
                    border: solid 0.125rem;
                    padding: 0.5rem 1rem;
                    border-color: black;
                    
                    background: black;
                    color: white;
                    &:hover{
                        background: rgba(0, 0, 0, 0.548);
                        color: white;
                    }
                }
            }
        }
        .footer__segundo{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-left: 1rem;
            background: $color-principalfooterSegundo;
            a{
                width: 3.125rem;
                margin-right: 1rem;
                height: auto;
                img{
                    width: auto;
                    height: 4.375rem;
                }
            }
            p{
                height: auto;
                font-size: 0.95rem;
            }
        }
    }
}

@media (max-width:540px) and (min-width:320px){

    /*HEADER*/
    header{
        padding: 0;
    }
    /*HEADER PRIMERO*/
    .header__primero{
        margin: 0;
        .header__primeroPromoCelu1{
            display: none;
            visibility: visible;
        }
        .header__primeroPromoCelu2{
            display: block;
        }
        div{
            width: 100%;
            i{
                font-size: 1.3em
            }
            b, p{
                font-size: 0.9rem;
            }
        }
    }


    /*HEADER SEGUNDOMOBILE*/
    .header__segundo{
        display: none;
    }
    .header__segundoMobile{
        display: block;
        .header__completo{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            padding: 0;
            .header__completoSuperior{
                width: 100%;
                flex-wrap: nowrap;
                padding: 1rem;
                button{
                    padding: 0;
                    div{
                        i{
                            font-size: 1.6em;
                        }
                    }
                    &:focus{
                        box-shadow: none;
                    }
                }
                .header__menuEscondido{
                    background-color: rgb(223, 223, 223);
                    left: -62.5rem;
                    .header__tituloMenu{
                        background-color: $color-principalheader;
                        padding: 0 1rem;
                        padding-left: 0.8rem;
                        border: solid black 0.063rem;
                        div{
                            img{
                                width: 100%;
                                height: 5.625rem;
                            }
                        }
                    }
                    .header__navegadorMenu{
                        background: transparent;
                        border: none;
                        padding: 1rem 0;
                        ul{
                            border-radius: 0;
                            border: none;
                            li{
                                width: 100%;
                                background: transparent;
                                padding: 0;
                                border: none;
                                margin-bottom: 0.5rem;
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                button{
                                    border: none;
                                    background: transparent;
                                }
                                .header__opcionesMenu{
                                    display: flex;
                                    width: 100%;
                                    color: black;
                                    padding: 1rem 0rem 1rem 2rem;
                                    flex-direction: row;
                                    justify-content: space-between;
                                    &::after{
                                        margin-right: 1rem;
                                        align-self: center;
                                        transition: transform .2s ease-in-out;
                                    }
                                    &:focus{
                                        background-color: black;
                                        color: white;
                                    }
                                    &:hover{
                                        background-color: black;
                                        color: white;
                                    }
                                }
                                .dropdown-menu[data-bs-popper]{
                                    margin-top: 0;
                                }
                                .show:not(.collapsed)::after{
                                    transform: rotate(-180deg);
                                }
                                .header__subNavegacion{
                                    padding: 0.5rem 0rem 0.5rem 2rem;
                                }
                            }
                        }
                    }
                }
                .offcanvas.show{
                    transform: translateX(62.5rem);
                }
                .header__logo{
                    width: 100%;
                    border: none;
                    display: flex;
                    justify-content: center;
                    a{
                        width: 10rem;
                        height: auto;
                        border: solid black;
                        img{
                            width: 100%;
                            height: 4.375rem;
                        }
                    }
                }
                .header__iconos{
                    a{
                        margin-right: 0.2rem;
                    }
                    i{
                        font-size: 1.6em;
                    }
                    .header__iconosShop{
                        position: relative;
                        div{
                            max-width: 15.625rem;
                            span{
                                i{
                                    margin-right: 0.2rem;
                                }
                            }
                            div{
                                p{
                                    padding: 1.875rem 1rem;
                                    text-align: center;
                                }
                            }
                            
                        }
                        .dropdown-menu[data-bs-popper]{
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    
    /*BUSCADOR*/
    .header__buscador{
        width: 100%;
        border: none;
        background-color: white;
        border-radius: 0;
        form{
            button{
                display: flex;
                align-content: center;
                background-color: white;
                border: none;
                i{
                    color: black;
                    font-size: 1.4em;
                }
                &::selection{
                    box-shadow: none;
                    border: none;
                }
                &:hover{
                    background-color: black;
                    border: none;
                }
                &:hover i{
                    color: white;
                }
            }
            input{
                border: none;
                border-radius: 0%;
            }
        }
    }

    /*MAIN PRIMERO*/
    #carouselExampleIndicators{
        .carousel-inner{
            .main__primeroButtonR{
                padding-right: 0.3rem;
                i{
                    font-size: 1.3em;
                }
            }
            .main__primeroButtonL{
                padding-left: 0.3rem;
                i{
                    font-size: 1.3em;
                }
            }
        }
        .main__primeroIndicador{
            button{
                height: 0.438rem;
                width: 0.438rem;
            }
            .active{
                height: 0.563rem;
                width: 0.563rem;
            }
        }
    }

    /*MAIN SEGUNDO*/
    .main__segundo{
        padding-top: 0rem;
        img{
            height: 100%;
        }
    }
    
    /*MAIN TERCERO*/
    .main__tercero{
        padding: 2rem 0;
        background-color: $color-principalmain;
        .main__terceroPC, .main__terceroTablet{
            display: none;
        }
        .main__terceroPhone{
            display: block;
            margin-bottom: 2rem;
            &:last-child{
                margin-bottom: 0;
            }
            h2{
                font-size: 1.5rem;
                margin-bottom: 1rem;
                margin-left: 2rem;
                font-family: 'Bebas Neue', cursive;
                color: black;
            }
            #galeria__masVendidosPhone, #galeria__lanzamientosPhone{
                background: $color-principalmain;
                .carousel-item-next, .carousel-item-prev, .carousel-item.active{
                    padding: 0 2rem;
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    flex-wrap: nowrap;
                    background: $color-principalmain;
                }
                .index__galeria{
                    display: flex;
                    flex-direction: row;
                    .carousel-item.active, .index__productos{
                        div{
                            background: white;
                            height: auto;
                            width: 100%;
                            border: 0.063rem solid gray;
                            padding: 0.313rem;
                            margin-right: 1rem;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            max-width: 10rem;
                            max-height: 16.25rem;
                            a{
                                position: relative;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                width: 100%;
                                img{
                                    width: 100%;
                                    margin-bottom: 0.5rem;
                                    height: auto;
                                }
                                p{
                                    color: $color-principalmainProductos;
                                    font-size: 0.8rem;
                                    height: 2.5rem;
                                    text-align: center;
                                    display: flex;
                                    align-items: center;
                                }
                            }
                            h3{
                                margin-bottom: 0;
                                font-size: 1rem;
                                font-weight: 600;
                            }
                            &:last-child{
                                margin-right: 0;
                            }
                        }
                    }
                    button{
                        width: 2rem;
                        color: rgba(0, 0, 0, 0.562);
                        background: $color-principalmain;
                        opacity: 1;
                        &:hover{
                            color: black;
                            opacity: 1;
                        }
                        &:focus{
                            color: none;
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    /*MAIN cuarto*/
    .main__cuarto{
        padding: 1rem 0;
        .main__cuartoBoleto{
            width: 95%;
            background-size: auto;
            padding: 2rem 0;
            h2{
                font-size: 1rem;
                text-align: center;
                margin-bottom: 0.313rem;
            }
            p{
                font-size: 0.8rem;
                text-align: center;
                margin-bottom: 0.313rem;
            }
            div{
                .main__cuartoInput1{
                    width: 50%;
                    height: 1.875rem;
                    padding-left: 0.313rem;
                    font-size: 0.9rem;
                }
                .main__cuartoInput2{
                    width: 20%;
                    font-size: 0.6rem;
                }
            }
        }
    }

    /*FOOTER*/
    footer{
        padding-top: 2rem;
        .footer__pc{
            display: none;
            visibility: visible;
        }
        .footer__accordion{
            display: block;
            .footer__accordion-item{
                border-left: none;
                border-right: none;
                button{
                    background: $color-principalfooter;
                    color: white;
                    &:hover{
                        background: black;
                    }
                    &::after{
                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                    }
                }
                ul{
                    padding-left: 0;
                    margin-bottom: 0;
                    li{
                        height: 1.5rem;
                        a{
                            color: rgba(0, 0, 0, 0.637);
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
                .footer__accordion-body{
                    display: flex;
                    flex-direction: column;
                    background-color: rgb(223, 223, 223);
                    p, a{
                        color: rgba(0, 0, 0, 0.637);
                    }
                    a:hover{
                        color: black;
                    }
                }
                .accordion-button:not(.collapsed){
                    background: black;
                    color: white;
                    &::after{
                        filter: invert(100%) sepia(46%) saturate(0%) hue-rotate(131deg) brightness(109%) contrast(101%);
                    }
                }
            }
        }
        .footer__redes{
            padding: 1rem 1.25rem;
            h3{
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Comic Neue';
                font-size: 1rem;
                font-weight: 400;
                color: white;
                a{
                    margin-left: 0.5rem;
                    font-size: 1.5rem;
                    color: black;
                    &:first-child{
                        margin-left: 1rem;
                    }
                    &:hover{
                        color: rgba(0, 0, 0, 0.61);
                    }
                    i{
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .footer__boton{
            margin: 0 1.25rem;
            margin-bottom: 2rem;
            font-size: 1rem;
            a{
                button{
                    font-family: 'Comic Neue';
                    border: solid 0.125rem;
                    padding: 0.5rem 1rem;
                    border-color: black;
                    
                    background: black;
                    color: white;
                    &:hover{
                        background: rgba(0, 0, 0, 0.548);
                        color: white;
                    }
                }
            }
        }
        .footer__segundo{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-top: 1rem;
            padding-top: 1rem;
            padding-left: 1rem;
            background: $color-principalfooterSegundo;
            a{
                width: 3.125rem;
                margin-right: 0.5rem;
                height: auto;
                img{
                    width: auto;
                    height: 3.75rem;
                }
            }
            p{
                height: auto;
                font-size: 0.8rem;
            }
        }
    }
}